body {
    margin: 0;
    background: url(../img/fondo01.jpeg) no-repeat right top, hsl(218, 69%, 33%);
    padding: 0 70px;
    background-size: contain;
    font-family: sans-serif;
    height: 100vh;
}


.login-box{
    width: 320px;
    height: 420px;
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    color: #ffffff;
    top: 50%;
    left: 30%;
    right: 20%;
    bottom:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0 70px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0px;
    padding: 0 0 20px;
    position: relative;
    top:60px;
    bottom:30px;
    text-align: center;
    font-size: 22px;


}

.login-box label{
    margin: 0;
    padding: 0;
    position: relative;
    top:60px;
    left: -20px;
    bottom: 10px;
    font-weight: bold;
    display: block;
}

.login-box input{
    position: relative;
    top:60px;
    bottom: 30px;
    width: 120%;
    left: -20px;
    margin-bottom: 40px;
}

.login-box input[type="email"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    position: relative;
    top:50px;
    height: 40px;
    background: #ffffff;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}