{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Already</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/already.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <div>
    <h5>Cuidado!<br>Esta tratando de asignar algun rol, en una fase con el que el usuario ya cuenta. Por favor, verifique el problema.</h5>
    <a href="{%url 'proyectoView' proyectoid%}"><button>Volver a Pantalla Principal de Proyecto</button></a>
    </div>
</body>
</html>