{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoTipodeItem/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Tipos de Ítem
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
	<div class="container">



    {{mensaje}}
    <section>
        <form action="." method="POST" > {% csrf_token %}
            <p></p><label id="nombre" for="nombretipo">Nombre del Tipo de Item:</label><br>
            <input id="nombre" type="text" id="nombretipo" name="nombretipo" required><br></p>
            <p><label for="descripciontipo">Descripción del Tipo de Item:</label><br>
            <input type="text" id="descripciontipo" name="descripciontipo" required></p>
            <p>
                <i>Cada Tipo de Item creado cuenta por defecto con los siguientes campos: <br>
                Fecha, versión, estado, costo, relación con otros ítems, observaciones y la posibilidad de adjuntar archivos.<br>
                    <br>El usuario podrá agregar campos extra al tipo de item.</i>


            </p>

            <h5>Agregar campos extra al tipo de Item: </h5>
                <input class="cla" type="text" id="camposextra">
                <input class="cla"  type="button" id="button1" value="Agregar" onclick="add_element_to_array();">
                <input class="cla"  type="hidden" id="camposadd" name="camposadd">
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
            <br><br>
            <button type='submit' class="btn-small blue darken-3 right"  >
                Crear Tipo de Item
                <i class="material-icons white-text left">add_circle_outline</i>
            </button>

        </form>
    </section>
<script>
 var x = 0;
    var array = Array();

    function add_element_to_array()
    {
        if (document.getElementById("camposextra").value == ""){
            alert("El campo extra no se agrego por no contener texto" );
        }else{
            array[x] = document.getElementById("camposextra").value;
            alert("El campo extra: \"" + array[x] + "\" fue agregado exitosamente." );
            x++;
            document.getElementById("camposextra").value = "" ;
            document.getElementById("camposadd").value = array;
        }
    }
</script>

    </div>
{% endblock%}
