<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GESTION DE PROYECTO</title>
</head>
<body>
    <form action="/proyecto/modify/">
        <h3>Modificar Proyecto<input type="submit" value="Ir" /> </h3>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
    <form action="/proyecto/proyectoUser/">
        <h3>Miembros<input type="submit" value="Ir" /> </h3>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
    <form action="/proyecto/proyectoTipodeItem/">
        <h3>Tipos de Item<input type="submit" value="Ir" /> </h3>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
    <form action="/proyecto/proyectoComite/">
        <h3>Comite de Control de Cambios<input type="submit" value="Ir" /> </h3>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
    <form action="/proyecto/proyectoRol/">
        <h3>Roles<input type="submit" value="Ir" /> </h3>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
    <form action="/proyecto/unable/">
        <h3>Deshabilitar Proyecto<input type="submit" value="Ir" /> </h3>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
</body>
</html>
