{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoTipodeItem/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Tipos de Ítem
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
	<div class="container">
    <section>
        {{mensaje}}
        <h3 style="text-align: center">Importar Tipos de ítem</h3>
        <form action="." method="POST">{% csrf_token %}
        <div class="form-check">
            {% for tipo in tipos %}
                <label>
                    <input  type="checkbox" class="filled-in"  id="importados" name="importados" value={{tipo.id}}>
                    <span>{{tipo.nombreTipo}}</span>
                </label>
            {% endfor %}
        </div>
        <button id="button" type='submit' name="seleccion" class="btn-small blue darken-3 right" >
            Importar Tipos de Item

                    <i class="material-icons white-text left">import_export</i>
        </button>
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form>
    </section>
 </div>
{% endblock%}