{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/importartipo.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <h4>Seleccione los tipos de Item que desea importar:</h4>
        <form action="." method="POST">{% csrf_token %}
        {% for tipo in tipos %}
            <input type="checkbox" id="importados" name="importados" value={{tipo.id}}>
            <label for="importados">{{tipo.nombre}}</label>
        {% endfor %}
        <input id="button" type='submit' name="seleccion" value="Importar Tipos de Item" />
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form>
    </section>
</body>
</html>