{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoTipodeItem/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Tipos de Ítem
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
	<div class="container">

{{ mensaje }}
    <section>
        <h3 style="text-align: center">Modificar Tipo de ítem</h3>
        
            <form action="." method="POST">{% csrf_token %}
                <label id="lab" for="nombretipo">Nombre del Tipo de Item:</label><br>
                <input class="cla"  type="text" id="nombretipo" name="nombretipo" value="{{ tipo.nombreTipo }}" required><br></p>
                <p><label class="cla"  for="descripciontipo">Descripción del Tipo de Item:</label><br>
                <input class="cla"  type="text" id="descripciontipo" name="descripciontipo" value="{{ tipo.descripcion }}" required></p>
                <input class="cla"  type="hidden" id="tipodeitem_id" name="tipodeitem_id" value="{{ tipo.id }}">
                <h5>Campos agregados por los Usuarios:</h5>
                {% for c in tipo.campo_extra %}
                        <input class="cla" type="text" id="{{ c }}" name="campos" value="{{ c }}" readonly>
                    <input class="cla"  type="button"  onclick="document.getElementById('{{ c }}').value=''"  value="Eliminar" />

                  <br>
                {% endfor %}
                <h5>Agregar campos extra al tipo de Item: </h5>
                <input class="cla" type="text" id="camposextra">
                <input class="cla"  type="button" id="button1" value="Agregar" onclick="add_element_to_array();">
                <input class="cla"  type="hidden" id="camposadd" name="camposadd">
                <br><button id="boton" type='submit' name="cambio" class="btn-small blue darken-3 right">
                    Guardar cambios
                    <i class="material-icons left">edit</i>
                </button>
                <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">

        </form>
        </p>
    </section>
<script>
 var x = 0;
    var array = Array();

    function add_element_to_array()
    {
        if (document.getElementById("camposextra").value == ""){
            alert("El campo extra no se agrego por no contener texto" );
        }else {
            array[x] = document.getElementById("camposextra").value;
            alert("El campo extra: \"" + array[x] + "\" fue agregado exitosamente.");
            x++;
            document.getElementById("camposextra").value = "";
            document.getElementById("camposadd").value = array;
        }
    }
</script>
 </div>
{% endblock%}