{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style> body{background-color: lavender }</style>
        <form action="/proyecto/gestionProyecto/">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                        Volver a Gestión de Proyecto
                        <i class="material-icons dark blue-text left">keyboard_return</i>
                </button>
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form>

    <div class="container">
        <h4>Lista de Miembros</h4>
             <div>
                 {% for c in comite %}
                    {%if c.is_active%}
                        <p>{{c.username}}</p>
                    {%else%}
                        <p>{{c.username}}(deshabilitado)</p>
                    {%endif%}
                 {%empty%}
                    {{"Todavia no existen miembros en el comite."}}
                 {% endfor %}
            </div>

        <p><form action="/proyecto/proyectoComite/add/">
            <button type="submit"  class="btn blue darken-1 left">
                <i class="material-icons white-text left">person_add_alt_1</i>
                Agregar Miembros
            </button>
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form></p>
         <br>
         <br>
         <br>
        <form action="/proyecto/proyectoComite/remove/">
            <button type="submit"  class="btn blue darken-1 left">
                <i class="material-icons white-text left">person_remove</i>
                Remover Miembros
            </button>
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form>
    </div>
{% endblock%}
