{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoRol/">
         <button type="submit" class="waves-effect waves-teal btn-flat">
             Volver a Gestión de Roles de Proyecto
             <i class="material-icons dark blue-text left">keyboard_return</i>
         </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
    </form>
	<div class="container">
        <form action="/proyecto/proyectoRol/modify/proyectoid={{ proyecto.id }}/rolid={{ rol.id }}/" method="post">
            {% csrf_token %}
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{rol.nombre}} id="nombreanterior" name="nombreanterior">
            <h5 style="text-align: center">Panel de Modificación de Roles</h5>
            <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h6>Nombre del Rol:</h6>
                </div>
                <div style="position: absolute; right: 0; top: 0; text-align: left">
                    <button type="submit"
                            onclick="myFunction();"
                            class="btn-small blue darken-2 left"
                    >
                        Modificar Rol
                        <i class="material-icons white-text left">add_circle</i>
                    </button>
                </div>
            </div>
            <br><br>
            <input type="text" id="Rolname" name="nombre" value="{{rol.nombre}}" required>
            <h6>Permisos asignados al rol:</h6>
            <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h7>Permisos respecto a Fases de Proyecto:</h7>
                    <div class="form-check">
                        {%if "view_fase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="4" id="permiso" name="perms" readonly checked onclick="return false;">
                            <span style="color:black">Ver Fase.</span></label>
                        {%else%}
                        <label><input class="filled-in" type="checkbox" value="4" id="permiso" name="perms" readonly checked onclick="return false;">
                            <span style="color:black">Ver Fase.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "add_fase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="1" id="permiso" name="perms" checked>
                            <span style="color:black">Crear Fase.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="1" id="permiso" name="perms">
                            <span style="color:black">Crear Fase.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "change_fase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="2" id="permiso" name="perms" checked>
                            <span style="color:black">Modificar Fase.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="2" id="permiso" name="perms">
                            <span style="color:black">Modificar Fase.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "delete_fase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="3" id="permiso" name="perms" checked>
                            <span style="color:black">Deshabilitar Fase.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="3" id="permiso" name="perms">
                            <span style="color:black">Deshabilitar Fase.</span></label>
                        {%endif%}
                    </div>
                </div>
                <div style="position: absolute; right: 0; top: 0; text-align: left">
                    <h7>Permisos respecto a Ítems de Proyecto:</h7>
                    <div class="form-check">
                        {%if "create_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="5" id="permiso" name="perms" checked>
                            <span style="color:black">Crear Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="5" id="permiso" name="perms">
                            <span style="color:black">Crear Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "aprove_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="6" id="permiso" name="perms" checked>
                            <span style="color:black">Aprobar Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="6" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Aprobar Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "deshabilitar_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="7" id="permiso" name="perms" checked>
                            <span style="color:black">Deshabilitar Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="7" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Deshabilitar Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "reversionar_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="8" id="permiso" name="perms" checked>
                            <span style="color:black">Reversionar Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="8" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Reversionar Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "relacionar_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="9" id="permiso" name="perms" checked>
                            <span style="color:black">Relacionar Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="9" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Relacionar Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "modify_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="10" id="permiso" name="perms" checked>
                            <span style="color:black">Modificar Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="10" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Modificar Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "establecer_itemPendienteAprob" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="11" id="permiso" name="perms" checked>
                            <span style="color:black">Establecer Item como pendiente de aprobacion.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="11" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Establecer Item como pendiente de aprobacion.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "establecer_itemDesarrollo" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="12" id="permiso" name="perms" checked>
                            <span style="color:black">Establecer Item como en Desarrollo.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="12" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Establecer Item como en Desarrollo.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "obtener_trazabilidadItem" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="13" id="permiso" name="perms" checked>
                            <span style="color:black">Obtener trazabilidad de Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="13" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Obtener trazabilidad de Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "ver_item" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="14" id="verItem" name="perms" checked onclick="return myFunction3();">
                            <span style="color:black">Ver Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="14" id="verItem" name="perms" onclick="return myFunction3();">
                            <span style="color:black">Ver Item.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "obtener_calculoImpacto" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="15" id="permiso" name="perms" checked>
                            <span style="color:black">Obtener cálculo de Impacto de Item.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="15" id="permiso" name="perms" onclick="myFunction2(this);">
                            <span style="color:black">Obtener cálculo de Impacto de Item.</span></label>
                        {%endif%}
                    </div>
                </div>
            </div><br><br><br><br><br><br><br>
            <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h7>Permisos respecto a Línea Base:</h7>
                    <div class="form-check">
                        {%if "create_lineaBase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="16" id="permiso" name="perms" checked>
                            <span style="color:black">Crear Linea Base.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="16" id="permiso" name="perms"">
                            <span style="color:black">Crear Linea Base.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "break_lineaBase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="17" id="permiso" name="perms" checked>
                            <span style="color:black">Romper Linea Base.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="17" id="permiso" name="perms">
                            <span style="color:black">Romper Linea Base.</span></label>
                        {%endif%}
                    </div>
                    <div class="form-check">
                        {%if "solicitar_roturaLineaBase" in permisos%}
                            <label><input class="filled-in" type="checkbox" value="18" id="permiso" name="perms" checked>
                            <span style="color:black">Solicitar Rotura de Linea Base.</span></label>
                        {%else%}
                            <label><input class="filled-in" type="checkbox" value="18" id="permiso" name="perms">
                            <span style="color:black">Solicitar Rotura de Linea Base.</span></label>
                        {%endif%}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock%}

<script>
    function myFunction2(obj) {
        var verItem = document.getElementById('verItem')
        if (obj.checked) {
            verItem.checked = true;
        }
    }
</script>
<script>
    function myFunction3() {
        var onclick = true;
        var perms = document.getElementsByTagName('input');
        for(var i = 0; i < perms.length; ++i)
        {
            if(perms[i].type === "checkbox"){
                var valor = parseInt(perms[i].value);
                if(valor > 5 && valor !== 14 && valor < 16){
                    if(perms[i].checked === true){
                        onclick = false;
                    }
                }

            }
        }
         return onclick;
    }
</script>

