{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remover Roles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/proyectoRolRemover.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <form action="/proyecto/proyectoRol/">
            <input type="submit" value="Atras" />
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form>
        <form action="/proyecto/proyectoRol/remove/" method="post">
            {% csrf_token %}
            <h4>Selecciona Roles</h4>
             <div class="form-check">
                 {% for r in roles %}
                    <input class="form-check-input" type="radio" value={{r.id}} id="rolname" name="roles">
                    <label class="form-check-label" for="rolname">{{r.nombre}}</label>
                 {% endfor %}
                 <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
            </div>
            <h4>Selecciona Usuarios</h4>
             <div class="form-check">
                 {% for u in usuarios %}
                    <input class="form-check-input" type="radio" value={{u.id}} id="username" name="users">
                    {%if u.is_active%}
                        <label class="form-check-label" for="username">{{u.username}}</label>
                    {%else%}
                        <label class="form-check-label" for="username">{{u.username}}(deshabilitado)</label>
                    {%endif%}
                 {% endfor %}
            </div>
            <h4>Selecciona Fases</h4>
             <div class="form-check">
                 {% for f in fases %}
                    <input class="form-check-input" type="checkbox" value={{f.id}} id="fasename" name="fases">
                    <label class="form-check-label" for="username">{{f.nombre}}</label>
                 {% endfor %}
            </div>

            <button type="submit">Guardar</button>
        </form>
    </section>
</body>
</html>
