{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .progreso {
            width: 90%;
            position: absolute;
            z-index: 1;
        }

  .progressbar {
      counter-reset: step;
      padding-right: 5%;
  }
  .progressbar li {
      list-style-type: none;
      width: 20%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: #024e82;
  }
  .progressbar li.active:before {
      border-color:  #024e82;
  }
  .progressbar li.active + li:after {
      background-color: #024e82;
  }

</style>
    <form action="/home/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a Home
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
    </form>
    <div class="container">
        <h3 style="text-align: center">{{ proyecto.nombre }}</h3>
        <h5 style="text-align: center" class="grey-text">Panel de Configuración del Proyecto</h5>
        <div class="progreso">
            <ul class="progressbar">
                {% if hay_miembros  %}
                    <li class="active">
                        Miembros
                    </li>
                {% else %}
                    <li>
                        Miembros
                    </li>
                {% endif %}
                {% if hay_miembros and hay_roles %}
                    <li class="active">
                        Roles
                    </li>
                {% else %}
                    <li>
                        Roles
                    </li>
                {% endif %}
                {% if hay_miembros and hay_roles and hay_tipos %}
                    <li class="active">
                        Tipos de Ítem
                    </li>
                {% else %}
                    <li>
                        Tipos de Ítem
                    </li>
                {% endif %}
                {% if hay_miembros and hay_roles and hay_tipos and hay_comite%}
                    <li class="active">
                        Comité
                    </li>
                {% else %}
                    <li>
                        Comité
                    </li>
                {% endif %}
                {% if hay_miembros and hay_roles and hay_tipos and hay_comite and hay_fases%}
                    <li class="active">
                        Fases
                    </li>
                {% else %}
                    <li>
                        Fases
                    </li>
                {% endif %}
            </ul>
        </div>
    </div><br><br><br><br>
    <div class="container">
        {%if proyecto.estado == "pendiente"%}
            <div class="row">
                <form
                    action="/proyecto/modify/"
                    id="formModificacion"
                >
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #024e82;">
                                <a href="#" onclick="document.getElementById('formModificacion').submit()" >
                                    <img src="{% static 'img/DatosdelProyecto.jpg' %}" alt="DatosdelProyecto" width="80" height="180">
                                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <form
                        action="/proyecto/proyectoUser/"
                        id="formUsuarios"
                >
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #024e82;">
                                <a href="#" onclick="document.getElementById('formUsuarios').submit()" >
                                    <img src="{% static 'img/Miembros.jpg' %}" alt="MiembrosProyecto" width="80" height="180">
                                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                {% if hay_miembros %}
                    <form
                            action="/proyecto/proyectoRol/proyectoid={{ proyecto.id }}/mensaje=''/"
                            id="FormRol"
                    >
                        <div class="col s5 m3">
                            <div class="card">
                                <div class="card-image" style= "border:1px solid #024e82;">
                                    <a href="#" onclick="document.getElementById('FormRol').submit()" >
                                        <img src="{% static 'img/rolessin.jpg' %}" alt="RolesProyecto" width="80" height="180" style="padding-top: 22px">
                                        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #7d7d7d;"
                            >
                                <a
                                        style="cursor: default"
                                        title="Agregue miembros al proyecto para seguir avanzando con la configuración del proyecto."
                                >
                                    <img src="{% static 'img/rolesgris.png' %}" alt="RolesProyecto" width="80" height="180" style="padding-top: 22px">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if hay_miembros and hay_roles %}
                    <form
                        action="/proyecto/proyectoTipodeItem/"
                        id="FormTipoItem"
                >
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #024e82;">
                                <a href="#" onclick="document.getElementById('FormTipoItem').submit()" >
                                    <img src="{% static 'img/tiposdeitem.jpg' %}" alt="TiposProyecto" width="80" height="180" style="padding-top: 22px">
                                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                </form>
                {% else %}
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #7d7d7d;"
                            >
                                <a
                                        style="cursor: default"
                                        title="Agregue miembros y roles al proyecto para seguir avanzando con la configuración del proyecto."
                                >
                                    <img src="{% static 'img/tiposgris.png' %}" alt="RolesProyecto" width="80" height="180" style="padding-top: 22px">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if hay_miembros and hay_roles and hay_tipos %}
                    <form
                        action="/proyecto/proyectoComite/proyectoid={{ proyecto.id }}/mensaje=''/"
                        id="FormComite"
                >
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #024e82;">
                                <a href="#" onclick="document.getElementById('FormComite').submit()" >
                                    <img src="{% static 'img/Comité.jpg' %}" alt="DatosdelProyecto" width="80" height="180">
                                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #7d7d7d;"
                            >
                                <a
                                        style="cursor: default"
                                        title="Agregue miembros,roles y Tipos de Item al proyecto para seguir avanzando con la configuración"
                                >
                                    <img src="{% static 'img/comitegris.png' %}" alt="RolesProyecto" width="80" height="180" style="padding-top: 22px">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if hay_miembros and hay_roles and hay_tipos and hay_comite %}
                    <form
                        action="/proyecto/proyectoFase/proyectoid={{proyecto.id}}"
                        id="FormFases"
                    >
                        <div class="col s5 m3">
                            <div class="card">
                                <div class="card-image" style= "border:1px solid #024e82;">
                                    <a href="#" onclick="document.getElementById('FormFases').submit()" >
                                        <img src="{% static 'img/Fases.jpg' %}" alt="FasesdelProyecto" width="80" height="180">
                                        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #7d7d7d;"
                            >
                                <a
                                        style="cursor: default"
                                        title="Designe a tres miembros del proyecto como Comité de Control de Cambios para seguir avanzando con la configuración"
                                >
                                    <img src="{% static 'img/fsesgris.png' %}" alt="fases" width="80" height="180" style="padding-top: 22px">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if hay_miembros and hay_roles and hay_tipos and hay_comite and hay_fases%}
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style="border:1px solid #028839;">
                                <a href="/proyecto/proyectoInicializar/proyectoid={{ proyecto.id }}/"
                                   onclick="return confirm('Está seguro de iniciar el Proyecto?');"
                                >
                                    <img src="{% static 'img/IniciarProyecto.jpg' %}" alt="IniciarProyecto" width="80" height="180">
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col s5 m3">
                        <div class="card">
                            <div class="card-image" style= "border:1px solid #7d7d7d;"
                            >
                                <a
                                        style="cursor: default"
                                        title="Cumpla todos los pasos para poder iniciar el Proyecto."
                                >
                                    <img src="{% static 'img/iniciargris.png' %}" alt="fases" width="80" height="180" style="padding-top: 22px">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #f4c80c;">
                            <a href="/proyecto/proyectoCancelar/proyectoid={{ proyecto.id }}/"
                               onclick="return confirm('Está seguro de cancelar el Proyecto?');"
                            >
                                <img src="{% static 'img/CancelarProyecto.jpg' %}" alt="CancelarProyecto" width="80"
                                     height="180">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
    </div>
    <br>
    {% if proyecto.estado == "cancelado" %}
        <form action="/proyecto/unable/">
            <br>
            <button type="submit" class="btn-small red darken-3 right">
                Deshabilitar Proyecto
            </button>
            <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
        </form>
    {% endif %}<br>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

{% endblock%}