{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROYECTO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/proyecto.css' %}">

</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <h3>{{proyecto.nombre}}</h3>
        <form action="/proyecto/gestionProyecto/">
            <br><input type="submit" value="Gestion de Proyecto" />
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>

        {%for f in fases%}
        <div><a href="{%url 'faseView' f.id proyecto.id%}">{{f.nombre}}</a></div>
        {%endfor%}
    </section>
</body>
</html>
