{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ mensaje }}
    <div class="container">
        <form action="/proyecto/gestionProyecto/">
            <input type="submit" value="Atras" />
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
        <form action="/proyecto/modify/" method="post">
            {% csrf_token %}
            <p>{{mensaje}}</p>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <div>
                <label for="nombre">Nombre del Proyecto:</label>
                <input type="text" id="nombre" name="nombre" value="{{ proyecto.nombre }}">
            </div><br>
            <div>
                <label for="descripcion">Descripcion:</label>
                <textarea id="descripcion" rows="1" cols="50" name="descripcion">{{proyecto.descripcion}}</textarea>
            </div><br>
            {%if proyecto.estado == "inicializado"%}
                <div>
                    <label for="fechaini">Fecha de Inicio:</label>
                    <input type="text" id="fechaini" name="fechaini" value={{proyecto.fecha_inicio}}  readonly>El proyecto ya ha iniciado.
                </div><br>
            {%else%}
                <div>
                    <label for="fechaini">Fecha de Inicio:</label>
                    <input type="text" id="fechaini" name="fechaini" value={{proyecto.fecha_inicio}}>
                </div><br>
            {%endif%}
            <div>
                <label for="fechafin">Fecha de Fin:</label>
                <input type="text" id="fechafin" name="fechafin" value={{proyecto.fecha_fin}}>
            </div><br>
            <button type="submit" class="btn-small blue darken-3 right" onclick="myFunction()">
                Guardar Modificaciones
                <i class="material-icons white-text left">done</i>
            </button>
            <button type="submit" onclick="myFunction()">Guardar</button>
        </form>
    </div>

    <script>
            function myFunction() {
                alert("Proyecto modificado correctamente.");
            }
    </script>
{% endblock%}