{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/home/">
         <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Home
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
    </form>
    {{ mensaje }}
	<div class="container">
        <h3 style="text-align: center">Creación de Proyecto</h3>
        <form action="/proyecto/proyectoCrear/" method="post">
            {% csrf_token %}
            <p>{{mensaje}}</p>
            <p><div>
                <label style="color: black" for="nombre">Nombre del Proyecto:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div></p>
            <p><div>
                <label for="descripcion">Descripcion:</label>
                <textarea id="descripcion" rows="1" cols="50" name="descripcion" required></textarea>
            </div></p>
            <p><div>
                <label for="fechaini">Fecha de Inicio:</label>
                <input type="date" id="fechaini" name="fechaini" required>
            </div></p>
            <p><div>
                <label for="fechafin">Fecha de Fin:</label>
                <input type=date id="fechafin" name="fechafin" required>
            </div></p>
            <p><div>
                 <label for="gerente">Gerente:</label>

                <select id="gerente" name="gerente" class="browser-default" required>
                    <option value="" disabled selected>Seleccione un Usuario para designar como Gerente</option>
                    {%for u in usuarios%}
                        <option value={{u.id}}>{{u.username}}</option>
                    {%endfor%}
                </select>
            </div></p>
            <button type="submit" class="btn-small blue darken-3 right">Guardar
             <i class="material-icons left">add_circle</i></button>
        </form>


</section>
	</div>
{% endblock%}