{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoUser/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a Lista de Miembros del Proyecto
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
    </form>
    <div class="container">

        <h4 style="text-align: center">Añadir Usuarios al Proyecto: {{ proyecto.nombre }} </h4>
        <h6 class="grey-text">Selecciona usuarios</h6>
        <form action="/proyecto/proyectoUser/add/" method="post">
            {% csrf_token %}
            <div class="form-check">
                {% for u in usuarios %}
                    <label>
                        <input  type="checkbox"
                                class="filled-in"
                                value={{u.id}} id="username"
                                name="users"/>
                        <span>{{u}}</span>
                    </label>
                {% endfor %}
            </div>
            <button type="submit"
                    class="btn btn-small blue darken-1 right"
                    onclick="myFunction()"
            >
                Añadir Miembros al proyecto
                <i class="material-icons white-text left">check</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
   </div>
    <script>
        function myFunction() {
            alert("Miembro agregado correctamente.");
        }
    </script>
{% endblock%}



