{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoVer/proyectoid={{proyecto.id}}">
                <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Proyecto
                    <i class="material-icons dark blue-text left">keyboard_return</i>
                </button>
    </form>
    <div class="container">
        <h2 style="text-align: center">{{ proyecto.nombre}}</h2>
        <h5 style="text-align: center" class="grey-text">Lista de Fases de  {{ proyecto.nombre}}</h5>

        {% if proyecto.estado == 'pendiente' %}
            <form action="/fase/faseCrear/" >
                <button type="submit" class="btn-small blue darken-3 right">
                    Crear Fase
                    <i class="material-icons white-text left">add_circle</i>
                </button>
                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            </form> <br><br>
        {% endif %}
        <div class="row">
            {%if fases%}
                {%if fasesUser %}
                    {%for f in fasesUser%}
                        <div class="col s4 m3    x8">
                            <div class="card-panel"
                                    {% if f.estado == "cerrada" %}
                                        style="border:2.5px solid black ;"
                                    {% endif %}
                                    {% if f.estado == "abierta" %}
                                         style="border:2.5px solid #29b6f6;"
                                    {% endif %}
                                    {% if f.estado == "deshabilitada" %}
                                         style="border:2.5px solid #ff3d00;"
                                    {% endif %}>
                                <h5>{{f.nombre}}</h5>
                                <h7><b>Estado:</b> {{f.estado}}</h7><br><br>
                                <a href="{%url 'faseView' f.id proyecto.id%}" class="btn blue darken-2 ">Ver</a>
                            </div>
                        </div>
                    {%endfor%}
                {%else%}
                    Aun no puede visualizar ninguna fase.
                {%endif%}
            {%else%}
                El proyecto aun no cuenta con fases creadas.
            {%endif%}
        </div>
    </div>
{% endblock%}

