{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if mensaje == "Se removió correctamente al usuario del Comité" %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Se agregó correctamente al usuario dentro del Comité" %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Error, no se añadio a ningún miembro al Comité." %}
        <div class="alert_message" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if proyecto.estado == "pendiente" %}
        <form action="/proyecto/proyectoVer/proyectoid={{proyecto.id}}">
             <button type="submit" class="waves-effect waves-teal btn-flat">
                 Volver a Gestión de Proyecto
                 <i class="material-icons dark blue-text left">keyboard_return</i>
             </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
    {% else %}
        <form action="/proyecto/gestionProyecto/">
             <button type="submit" class="waves-effect waves-teal btn-flat">
                        Volver a Gestión de Proyecto
                        <i class="material-icons dark blue-text left">keyboard_return</i>
                </button>
                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
    {% endif %}
    <div class="container">
        <h3 style="text-align: center">Comité de Control de Cambios</h3>
        <h5 style="text-align: center" class="grey-text">Panel de Configuración del Comité del proyecto {{ proyecto.nombre }}</h5><br>
        {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
            {% if agregar_mas_users %}
                <form action="/proyecto/proyectoComite/add/">
                    <button type="submit" class="btn btn-small blue darken-1 right">
                        Añadir Usuario al Comité
                        <i class="material-icons white-text left">add_circle</i>
                    </button>
                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                </form><br>
            {% else %}
                <button
                        title="El proyecto ya cuenta con 3 (tres) miembros en el Comité o el proyecto no cuenta con más miembros para ser parte del Comité."
                        style="cursor: default"
                        class="btn btn-small #eeeeee grey lighten-3 black-text right"
                >
                    Añadir Usuario al Comité
                    <i class="material-icons white-text left">add_circle</i>
                </button><br>
            {% endif %}
        {% endif %}
        {% if comite %}
            <div class="col s12 md6 x8">
            <ul class="z-depth-1">
                {%for c in comite%}
                    <li>
                        <div class="card-panel z-depth-4 expense">
                            <div class="row">
                                <div class="col 14 left">
                                    <b>Username:</b>
                                    {{c.username}}
                                </div>
                                {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                                    {% if request.user == proyecto.gerente %}
                                        <div class="col 9 right">
                                            <a href="{%url 'ComiteRemove' proyecto.id c.id  %}"
                                               onclick="return confirm('Está seguro de remover a {{ c }} del Comité?');"
                                            >
                                                <i class="material-icons darken-4 red-text left">delete</i>
                                                Remover Usuario del Comité
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <br>
            <h5>El Proyecto aún no cuenta con miembros en el Comité :( </h5>
        {% endif %}

    </div>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
    </script>
{% endblock%}
