{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="container"><br>
        <div style="position: relative;">
            <div style="position: absolute; left: 0; top: 0; text-align: left">
                <form action="/home/">
                        <button type="submit" class="waves-effect waves-teal btn-flat">
                                Volver a Home
                                <i class="material-icons dark blue-text left">keyboard_return</i>
                        </button>
                </form>
            </div>
            <div style="position: absolute; right: 0; top: 0; text-align: left">
                <form action="/proyecto/gestionProyecto/">
                    <a href='#' onclick='this.parentNode.submit(); return false;' style="color: black" class="hvr-icon-rotate">
                        Configurar Proyecto
                        <i class="material-icons black-text left hvr-icon">settings</i>
                    </a>
                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                </form>
            </div>
        </div>
        <br>
        {% if proyecto.estado == "finalizado" %}
            <h3 style="text-align: center">
                {{ proyecto.nombre }}
            </h3>
            <h5 style="text-align: center; color:#028839"><b>Proyecto Finalizado</b></h5><br>
            <h5 style="text-align: left" class="bold grey-text">Fases del Proyecto</h5>
        {% else %}
            <h3 style="text-align: center">{{ proyecto.nombre }}</h3>
            <h5 style="text-align: left" class="bold grey-text">Fases del Proyecto</h5>
        {% endif %}

    </div>
    <div class="container">
        <div class="row">
            {%if fases%}
                {%if fasesUser%}
                    {%for f in fasesUser%}
                        <div class="col s4 m3 x8">
                            <div class="card-panel"
                                 {% if f.estado == "cerrada" %}
                                        style="border:2.5px solid black ;"
                                 {% endif %}
                                {% if f.estado == "abierta" %}
                                        style="border:2.5px solid #29b6f6;"
                                 {% endif %}>
                                <h5>{{f.nombre}}</h5>
                                <h7><b>Estado:</b> {{f.estado}}</h7><br><br>
                                <a href="{% url 'faseViewInicializado' f.id proyecto.id " " %}" class="btn blue darken-2 ">Ver</a>
                            </div>
                        </div>
                    {%endfor%}
                {%else%}
                    Aun no puede visualizar ninguna fase.
                {%endif%}
            {%else%}
                El proyecto aun no cuenta con fases creadas.
            {%endif%}
        </div>
    </div>
    <div class="container">
        {% if proyecto.estado == "cancelado" %}
            <h5 style="text-align: left" class="bold grey-text">Acta de Cancelación del Proyecto</h5>
        {% endif %}
        {% if proyecto.estado == "finalizado" %}
            <h5 style="text-align: left" class="bold grey-text">Acta de Finalización del Proyecto</h5>
        {% endif %}
    </div>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
    </script>
{% endblock%}