{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoVer/proyectoid={{ proyecto.id }}/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver al listado de fases del proyecto
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
    </form>
    <div class="container">
        <h3 style="text-align: center">{{ proyecto.nombre }}</h3>
        <h5 style="text-align: center" class="grey-text">Panel de Configuración del Proyecto</h5><br>
        <div class="row">
            <form
                    action="/proyecto/modify/"
                    id="formModificacion"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('formModificacion').submit()">
                                <img src="{% static 'img/DatosdelProyecto.jpg' %}" alt="DatosdelProyecto" width="80"
                                     height="180">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <form
                    action="/proyecto/proyectoUser/"
                    id="formUsuarios"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('formUsuarios').submit()">
                                <img src="{% static 'img/Miembros.jpg' %}" alt="MiembrosProyecto" width="80"
                                     height="180">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <form
                    action="/proyecto/proyectoRol/proyectoid={{ proyecto.id }}/mensaje=''/"
                    id="FormRol"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('FormRol').submit()">
                                <img src="{% static 'img/rolessin.jpg' %}" alt="RolesProyecto" width="80" height="180"
                                     style="padding-top: 22px">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <form
                    action="/proyecto/proyectoTipodeItem/"
                    id="FormTipoItem"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('FormTipoItem').submit()">
                                <img src="{% static 'img/tiposdeitem.jpg' %}" alt="TiposProyecto" width="80"
                                     height="180" style="padding-top: 22px">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                            </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
            </form>
            <form
                    action="/proyecto/proyectoComite/proyectoid={{ proyecto.id }}/mensaje=''/"
                    id="FormComite"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('FormComite').submit()">
                                <img src="{% static 'img/Comité.jpg' %}" alt="DatosdelProyecto" width="80" height="180">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            {% if finalizar %}
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #028839;">
                            <a href="/proyecto/finalizar/proyectoid={{ proyecto.id }}/"
                               onclick="return confirm('Está seguro de finalizar el Proyecto?');"
                            >
                                <img src="{% static 'img/FinalizarProyecto.jpg' %}" alt="IniciarProyecto" width="80" height="180">
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #7d7d7d;"
                        >
                            <a
                                    style="cursor: default"
                                    title="Todas las fases deben estar cerradas para poder finalizar el proyecto."
                            >
                                <img src="{% static 'img/finalizarproyectogris.png' %}" alt="RolesProyecto" width="80"
                                     height="180" style="padding-top: 22px">
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col s5 m3">
                <div class="card">
                    <div class="card-image" style="border:1px solid #f4c80c;">
                        <a href="/proyecto/proyectoCancelar/proyectoid={{ proyecto.id }}/"
                           onclick="return confirm('Está seguro de cancelar el Proyecto?');"
                        >
                            <img src="{% static 'img/CancelarProyecto.jpg' %}" alt="CancelarProyecto" width="80"
                                 height="180">
                            <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                        </a>
                    </div>
                </div>
            </div>
            <form
                    action=
                    id="FormDeshabilitar"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #ff3d00;">
                            <a
                                    href="/proyecto/unable/proyectoid={{ proyecto.id }}/"
                                    onclick="return confirm('Está seguro de deshabilitar el Proyecto?');"
                            >
                                <img src="{% static 'img/DeshabilitarProyecto.jpg' %}" alt="CancelarProyecto" width="80"
                                     height="180">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
