{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if proyecto.estado == "pendiente" %}
        <form action="/proyecto/proyectoVer/proyectoid={{proyecto.id}}/">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                Volver al Panel de Configuración de Proyecto
                <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
    {% else %}
        <form action="/proyecto/gestionProyecto/">
             <button type="submit" class="waves-effect waves-teal btn-flat">
                        Volver a Gestión de Proyecto
                        <i class="material-icons dark blue-text left">keyboard_return</i>
                </button>
                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
    {% endif %}
    <div class="container">
        <h3 style="text-align: center">
            Lista de Miembros del Proyecto
        </h3>
        <form action="/proyecto/proyectoUser/add/">
            <button type="submit" class="btn btn-small blue darken-1 right">
                Añadir Miembro al proyecto
                <i class="material-icons white-text left">person_add</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form><br>
            {% if cant_user > 0 %}
                <div class="col s12 md6 x8">
                    <ul class="z-depth-1">
                        {%for u in usuarios %}
                            <li>
                                <div class="card-panel z-depth-2 expense">
                                    <div class="row">
                                        <div class="col 11 left">
                                            <b>Username:</b>
                                            {{ u.username }}
                                        </div>
                                        {% if u.is_staff or proyecto.gerente == u or user.username == u.username %}

                                        {% else %}
                                            <div class="col 11 right">
                                                <a href="{%url 'ProyectoUserRemove' proyecto.id u.id %}"
                                                   onclick="return confirm('Está seguro de remover a {{ u.username }} como miembro del proyecto?');"
                                                >
                                                    <i class="material-icons darken-4 red-text left">delete</i>
                                                    Remover Usuario
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col 14 left">
                                            <b>Nombre y Apellido:</b>
                                            {{u.first_name}}
                                            {{u.last_name }}
                                        </div>
                                        <div class="col 14 left">
                                            <b>Email:</b>
                                            {{u.email}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <h5>Aún no hay usuarios en este proyecto :(</h5>
            {% endif %}
    </div>
{% endblock%}