{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ mensaje }}
    {% if proyecto.estado == "pendiente" %}
        <form action="/proyecto/proyectoVer/proyectoid={{proyecto.id}}/">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                Volver al Panel de Configuración de Proyecto
                <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
    {% else %}
        <form action="/proyecto/gestionProyecto/">
             <button type="submit" class="waves-effect waves-teal btn-flat">
                        Volver a Gestión de Proyecto
                        <i class="material-icons dark blue-text left">keyboard_return</i>
                </button>
                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        </form>
    {% endif %}
    <div class="container">
        <h3 style="text-align: center">{{ proyecto.nombre }}</h3>
        <h4 style="text-align: center" class="grey-text">Panel de modificación de datos del Proyecto</h4>

        <form action="/proyecto/modify/" method="post">
            {% csrf_token %}
            <p>{{mensaje}}</p>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <div>
                <label for="nombre">Nombre del Proyecto:</label>
                <input type="text" id="nombre" name="nombre" value="{{ proyecto.nombre }}">
            </div><br>
            <div>
                <label for="descripcion">Descripcion:</label>
                <textarea id="descripcion" rows="1" cols="50" name="descripcion">{{proyecto.descripcion}}</textarea>
            </div><br>
            {%if proyecto.estado == "inicializado"%}
                <div>
                    <label for="fechaini">Fecha de Inicio:</label>
                    <input type="date" id="fechaini" name="fechaini" value={{proyecto.fecha_inicio}}  readonly>El proyecto ya ha iniciado.
                </div><br>
            {%else%}
                <div>
                    <label for="fechaini">Fecha de Inicio:</label>
                    <input type="date" id="fechaini" name="fechaini" value={{proyecto.fecha_inicio}}>
                </div><br>
            {%endif%}
            <div>
                <label for="fechafin">Fecha de Fin:</label>
                <input type="date" id="fechafin" name="fechafin" value={{proyecto.fecha_fin}}>
            </div><br>
            <button type="submit" class="btn-small blue darken-3 right" onclick="myFunction()">
                Guardar Modificaciones
                <i class="material-icons white-text left">done</i>
            </button>
        </form>
    </div>

    <script>
            function myFunction() {
                alert("Proyecto modificado correctamente.");
            }
    </script>
{% endblock%}