{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Miembros</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/proyectoUserAdd.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <form action="/proyecto/proyectoUser/">
        <input type="submit" value="Atras" />
        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
        </form>
        <form action="/proyecto/proyectoUser/add/" method="post">
            {% csrf_token %}
            <h5>Selecciona Usuarios</h5>
             <div class="form-check">
                 {% for u in usuarios %}
                    <input class="form-check-input" type="checkbox" value={{u.id}} id="username" name="users">
                    <label class="form-check-label" for="username">{{u.username}}</label>
                 {% endfor %}
                 <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
            </div>
            <button type="submit" onclick="myFunction()">Agregar Miembro</button>
        </form>
    </section>
</body>
<script>
        function myFunction() {
            alert("Miembro agregado correctamente.");
        }
</script>
</html>
