section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 2%;
    width: 47%;
    height: 350px;

}

h4{
    color: black;
    font-family: SansSerif, fantasy;
    margin-left: 2em;
    text-decoration:none ;
}


.form-check-input{
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.9);
    margin-left: 3em;
}

button{
    position: absolute;
    top: 90%;
    right:  10%;
}
