section {
    position: absolute center ;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 10%;
    width: 35%;
    height: 30%;
}

h4{
    font-family: SansSerif, fantasy;
    margin-left: 10%;
}

input{
    position: center;
    margin-bottom: 7px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    left: 10px;
}
