section {
    position: absolute center ;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 28%;
    margin-top: 5%;
    width: 48%;
    height: 400px;
}

h3, h5{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 7em;
    text-decoration:none ;
}

div {
    margin-left: 5%;
 }

input{
    position: absolute;
    top:380px;
    right:  30%;
}
