section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 3%;
    width: 50%;
    height: 500px;
}

p{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 3%;
    text-decoration:none ;
}

#formato{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 5%;
    margin-left: 3%;
    text-decoration:none ;
 }

#lab, #inp{
    margin-left: 7%;
    margin-bottom: 2%;
}

input{
    text-decoration:none ;
    border-radius: 6px;
    margin-left: 3%;
}


#button{
    position: absolute;
    top:90%;
    right:  15%;
}
