section {
    position: absolute ;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 5%;
    width: 55%;
    height: 400px;
}

.form-check-input{
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.9);
    left: 7%;
}

.label{
    font-family: SansSerif, fantasy;
    font-size: medium;
}
h3 {
    color: black;
    font-family: SansSerif, fantasy;
    margin-left: 20%;
    text-decoration: none;
}
h4{
    color: black;
    font-family: SansSerif, fantasy;
    margin-left: 10%;
    text-decoration:none ;
}

button{
    position: absolute;
    top:90%;
    right: 10%;
}
