section{
    position: absolute center ;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 15%;
    width: 35%;
    height: 120px;
}

h4{
    color: black;
    font-family: SansSerif, fantasy;
    display: center;
    margin-top: 4%;
    margin-left: 3em;
    text-decoration:none ;
}

input{
    position: absolute;
    top:275px;
    right:  32%;
}
