section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 3%;
    width: 55%;
    height: 650px;
}

p{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 5%;
    text-decoration:none ;
}

div {
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 3%;
    text-decoration:none ;
 }
#nombre{

    margin-left: 5%;
}
input{
    text-decoration:none ;
    border-radius: 6px;
}

#button{
    position: absolute;
    top:90%;
    right:  12%;
}
