section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 2%;
    width: 55%;
    height: 450px;

}

#importados{
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.9);
}

h4{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 5%;
    margin-left: 4%;
    text-decoration:none ;
}
.form-check-input{
    position: center;
    margin-bottom: 2em;
    margin-left: 0;
}
div{
    margin-left: 5%;
}

#button{
    position: absolute;
    top: 90%;
    right:  16%;
}
