section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 3%;
    width: 55%;
    height: 450px;
}

p{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 12em;
    text-decoration:none ;
}

div {
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 7em;
    text-decoration:none ;
 }
input{
    text-decoration:none ;
    border-radius: 6px;
}

.description{
    text-decoration:none ;
    border-radius: 6px;
}

button{
    position: absolute;
    top:410px;
    right:  20%;
}