section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 15%;
    width: 40%;
    height: 150px;
}


.form-check-input{
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.9);
    margin-left: 20%;
    margin-top: 15px;
}

.form-check-label {
    position: relative;
    left: 5%;
    margin-top: 5px;
 }

button{
    position: absolute;
    top:80%;
    right: 20%;
}
