section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 5%;
    width: 40%;
    height: 450px;
}


h4{
    color: black;
    font-family: SansSerif, fantasy;
    margin-left: 5em;
    margin-top: 5%;
    text-decoration:none ;
}

#bot{
    position: absolute;
    margin-left: 5%;
    margin-bottom: 10%;
}


