{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h5 style="text-align: left" class="bold grey-text">
            Fase: {{ fase.nombre }}
        </h5>
        <form action="/fase/FaseIniciada/config/">
            <button type="submit" class="btn btn-small blue darken-3 right">
                Configuración de Fase
                <i class="material-icons white-text left">settings</i>
            </button><br>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
        </form>

    </div>
    <div class="container">
         <br><h5>Lísta de Ítems</h5>
        <form action="/item/itemCrear/">
            <button type="submit" class="btn btn-small blue darken-3 right">
                Crear nuevo ítem
                <i class="material-icons white-text left">add_circle</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
        </form>
    </div><br>
    <div class="container">
        <section class="section section-expenses">
            <ul class="z-depth-1">
                {% if items %}

                {% for i in items %}
                    <li>
                        <div class="card-panel z-depth-4 expense">
                            <div class="row">
                                <div class="col l4 left">
                                    <b>{{ i.nombre }}</b>
                                </div>
                                <div class="col l2">
                                    {{ i.costo }} horas.
                                </div>
                                <div class="col 3">
                                    <b>{{ i.tipoItem.nombreTipo}}</b>
                                </div>
                                <div class="col 1">
                                    <b>{{ i.estado}}</b>
                                </div>
                                <a href="{%url 'itemView' i.id fase.id proyecto.id%}">
                                    <i class="material-icons dark blue-text right">info_outline</i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% else%}
                    Aun no hay items
                {% endif %}
            </ul>
        </section>
    </div>

{% endblock%}