{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoFase/proyectoid={{proyecto.id}}">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Fases del Proyecto
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
    </form>
	<div class="container">

        <form action="/proyecto/proyectoFase/proyectoid={{proyecto.id}}" method="post">
            {% csrf_token %}
            <p>{{mensaje}}</p>
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <p><div>
                <h6 style="text-align: left" class="grey-text">Nombre de la Fase</h6>
                <input type="text" id="nombre" name="nombre" value={{fase.nombre}} required>
            </div></p>
            <p><div>
                <h6 style="text-align: left" class="grey-text">Descripcion</h6>
                <textarea id="descripcion" rows="1" cols="50" name="descripcion" required>{{fase.descripcion}}</textarea>
            </div></p>

            <button type="submit" class="btn blue darken-3 right" onclick="myFunction()">
                    Guardar modificaciones
                   <i class="material-icons white-text left">edit</i>
            </button>
        </form>
        <script>
                function myFunction() {
                    alert("Fase modificada correctamente.");
                }
        </script>
	</div>
{% endblock%}
