{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/fase/FaseProyectoInicializado/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/mensaje=' '">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a la vista general de la fase
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
    </form>
    <div class="container">
        <h3 style="text-align: center">{{ fase.nombre }}</h3>
        <h4 style="text-align: center" class="grey-text">Panel de Configuración de la fase</h4>
        <div class="row">
            <form action="/fase/faseUsers/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/"
                  id="formUsuarios"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('formUsuarios').submit()">
                                <img src="{% static 'img/Miembros.jpg' %}" alt="MiembrosProyecto" width="80"
                                     height="180">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/fase/gestionTipoItem/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/"
                  id="FormTipoItem"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('FormTipoItem').submit()">
                                <img src="{% static 'img/tiposdeitem.jpg' %}" alt="TiposProyecto" width="80"
                                     height="180" style="padding-top: 25px">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                                <input type="hidden" value={{ fase.id }} id="faseid" name="faseid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/fase/gestionLineaBase/proyectoid={{ proyecto.id }}/faseid={{ fase.id }}/mensaje=' '/"
                  id="FormLB"
            >
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #024e82;">
                            <a href="#" onclick="document.getElementById('FormLB').submit()">
                                <img src="{% static 'img/LineaBase.jpg' %}" alt="TiposProyecto" width="80" height="180">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                                <input type="hidden" value={{ fase.id }} id="faseid" name="faseid">
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                <div class="col s5 m3">
                    <div class="card">
                        <div class="card-image" style="border:1px solid #ff3d00;">
                            <a href="{% url 'cerrarFaseView' proyecto.id fase.id %}"
                               onclick="return confirm('Está seguro de cerrar la fase?');"
                            >
                                <img src="{% static 'img/CerrarFase.jpg' %}" alt="CerrarFase" width="80" height="180">
                                <input type="hidden" value={{ proyecto.id }} id="proyectoid" name="proyectoid">
                                <input type="hidden" value={{ fase.id }} id="faseid" name="faseid">
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
