{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODIFICAR FASE</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/proyectoModificar.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <form action="/fase/gestionFase/">
            <input type="submit" value="Atras" />
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
        </form>
        <form action="/fase/modify/" method="post">
            {% csrf_token %}
            <p>{{mensaje}}</p>
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
            <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
            <p><div>
                <label for="nombre">Nombre de la Fase:</label>
                <input type="text" id="nombre" name="nombre" value={{fase.nombre}} required>
            </div></p>
            <p><div>
                <label for="descripcion">Descripcion:</label>
                <textarea id="descripcion" rows="1" cols="50" name="descripcion" required>{{fase.descripcion}}</textarea>
            </div></p>

            <button type="submit" onclick="myFunction()">Guardar</button>
        </form>
    </section>
</body>
<script>
        function myFunction() {
            alert("Fase modificada correctamente.");
        }
</script>
</html>