{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .filterDiv {
            float: left;
            width: 100%;
            line-height: 20px;
            text-align: left;
            margin: 2px;
            display: none;
        }

        .show {
          display: block;
        }

        /* Style the buttons */
        .btnItem {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: #f5f5f5;
            cursor: pointer;
        }

        .btnItem:hover {
          background-color: #ddd;
        }

        .btnItem.active {
          background-color: #039be5;
          color: white;
        }
    </style>

    {% if mensaje == "La Fase se cerro correctamente." %}
        <div class="exito_mensaje" >
            <span class="closebtn">&times;</span>
            <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}

    {% if mensaje == "Error! Para aprobar un ítem éste debe tener una relación de 'hijo' o 'sucesor' de un ítem con estado 'aprobado' o 'en linea base cerrada'." %}
        <div class="alert_message" >
            <span class="closebtn">&times;</span>
            <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Error! La Fase no se pudo cerrar. La fase debe poseer al menos un item relacionado con la fase siguiente y todos sus ítems deben pertenecer a una Línea Base Cerrada." %}
        <div class="alert_message" >
            <span class="closebtn">&times;</span>
            <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Item creado correctamente." %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "El ítem fue modificado correctamente." %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "El estado del Ítem fue actualizado correctamente." %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Error, ya existe un ítem con ese nombre." %}
        <div class="alert_message" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Error! No se puede deshabilitar el ítem." %}
        <div class="alert_message" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "Item deshabilitado correctamente." %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "El ítem se reversionó correctamente." %}
        <div class="exito_mensaje" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    {% if mensaje == "El estado actual del item no permite la deshabilitación del mismo." %}
        <div class="alert_message" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
     {% if mensaje == "No es posible cambiar el estado del item ya que este cuenta con relaciones." %}
        <div class="alert_message" >
          <span class="closebtn">&times;</span>
          <strong> {{ mensaje }}</strong>
        </div>
    {% endif %}
    <div class="container"><br>
        <div style="position: relative;">
            <div style="position: absolute; left: 0; top: 0; text-align: left">
                <form action="/proyecto/proyectoVer/proyectoid={{ proyecto.id }}/">
                    <button type="submit" class="waves-effect waves-teal btn-flat">
                        Volver a la vista del proyecto
                        <i class="material-icons dark blue-text left">keyboard_return</i>
                    </button>
                </form>
            </div>
            {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                <div style="position: absolute; right: 0; top: 0; text-align: left">
                    {% if  fase.estado != "cerrada" %}
                        <form action="{%url 'faseConfinicializada' proyecto.id fase.id  %}" >
                            <a href='#' onclick='this.parentNode.submit(); return false;' style="color: black" class="hvr-icon-rotate">
                                Configurar Fase
                                <i class="material-icons black-text left hvr-icon">settings</i>
                            </a>
                        </form>
                    {% endif %}
                </div>
            {% else %}
                <div style="position: absolute; right: 0; top: 0; text-align: left">
                    {% if  fase.estado != "cerrada" %}
                        <form action="{%url 'faseConfinicializada' proyecto.id fase.id  %}" >
                            <a href='#' onclick='this.parentNode.submit(); return false;' style="color: black" class="hvr-icon-rotate">
                                Ver configuración de Fase
                                <i class="material-icons black-text left hvr-icon">settings</i>
                            </a>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <br>
        <h3 style="text-align: center">{{ fase.nombre }}</h3>
        <div style="position: relative;">
            <div style="position: absolute; left: 0; top: 0; text-align: left">
                <h5>Lista de Ítems</h5>
            </div>
            <div style="position: absolute; right: 0; top: 0; text-align: left">
                {% if  fase.estado != "cerrada" %}
                    {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                        {% if tipos %}
                            <form action="/item/itemCrear/">
                                <button type="submit" class="btn blue darken-5 right">
                                    Crear nuevo ítem
                                    <i class="material-icons white-text left">add_circle</i>
                                </button>
                                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
                            </form>
                        {% else %}
                            <button
                                    title="La fase no cuenta con Tipos de ítems. Ve a la Configuración de Fase para agregarlos y poder crear ítems."
                                    style="cursor: default"
                                    class="btn btn-small #eeeeee grey lighten-3 black-text right"
                            >
                                Crear nuevo ítem
                                <i class="material-icons white-text left">add_circle</i>
                            </button><br>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div><br><br>
    <div class="container" id="myBtnContainer">
        <button class="btnItem active" onclick="filterSelection('all')" > Todos</button>
        <button class="btnItem" onclick="filterSelection('desarrollo')">Desarrollo</button>
        <button class="btnItem" onclick="filterSelection('pendiente')"> Pendientes</button>
        <button class="btnItem" onclick="filterSelection('aprobado')">
            Aprobados
        </button>
        <button class="btnItem" onclick="filterSelection('en revision')">
            En revisión
        </button>
        <button class="btnItem" onclick="filterSelection('abierta')"> Línea Base abierta</button>
        <button class="btnItem" onclick="filterSelection('cerrada')"> Línea Base cerrada</button>
        <button class="btnItem" onclick="filterSelection('comprometida')"> Línea Base comprometida</button>
    </div>
    <div class="container">
        {% if items %}
        <section class="section section-expenses">
            <ul class="z-depth-1">
                <div class="filterDiv desarrollo">
                    {% for i in items_desarrollo %}
                        <li>
                            <div class="card-panel"
                                 style=
                                         "border-left:15px outset #bdbdbd;
                                          border-right:0.2px solid black;
                                          border-bottom:0.2px solid black;
                                          border-top: 0.1px solid black;
                                          border-radius: 10px;
                                         "
                            >
                                <div class="row">
                                    <div class="col l4 left">
                                        <b>{{ i.nombre }}</b>
                                    </div>
                                    <div class="col l4 right">
                                        <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                           title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                           style="color:black"
                                        >
                                            Gestionar Ítem
                                            <i class="material-icons dark black-text left">settings</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col 1">
                                        <b>Estado:</b>
                                        {{ i.estado }}
                                    </div>
                                    <div class="col l4 left">
                                        <b>Costo en horas:</b>
                                        {{ i.costo }}h
                                    </div>
                                    <div class="col 3">
                                        <b>Tipo de ítem:</b>
                                        {{ i.tipoItem.nombreTipo }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </div>
                <div class="filterDiv pendiente">
                    {% for i in items_pendiente %}
                        <li>
                            <div class="card-panel"
                                 style=
                                         "border-left:15px outset #ffd740;
                                          border-right:0.2px solid black;
                                          border-bottom:0.2px solid black;
                                          border-top: 0.1px solid black;
                                          border-radius: 10px;
                                         "
                            >
                                <div class="row">
                                    <div class="col l4 left">
                                        <b>{{ i.nombre }}</b>
                                    </div>
                                    <div class="col l4 right">
                                        <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                           title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                           style="color: black"
                                        >
                                            Gestionar Ítem
                                            <i class="material-icons dark-1 black-text left">settings</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col 1">
                                        <b>Estado:</b>
                                        {{ i.estado }}
                                    </div>
                                    <div class="col l4 left">
                                        <b>Costo en horas:</b>
                                        {{ i.costo }}h
                                    </div>
                                    <div class="col 3">
                                        <b>Tipo de ítem:</b>
                                        {{ i.tipoItem.nombreTipo }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </div>
                <div class="filterDiv aprobado">
                    {% for i in items_aprobado %}
                        <li>
                            <div class="card-panel"
                                 style=
                                         "border-left:15px outset #1b5e20;
                                          border-right:0.2px solid black;
                                          border-bottom:0.2px solid black;
                                          border-top: 0.1px solid black;
                                          border-radius: 10px;
                                         "
                            >
                                <div class="row">
                                    <div class="col l4 left">
                                        <b>{{ i.nombre }}</b>
                                    </div>
                                    <div class="col l4 right">
                                        <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                           title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                           style="color:black"
                                        >
                                            Gestionar Ítem
                                            <i class="material-icons dark black-text left">settings</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col 1">
                                        <b>Estado:</b>
                                        {{ i.estado }}
                                    </div>
                                    <div class="col l4 left">
                                        <b>Costo en horas:</b>
                                        {{ i.costo }}h
                                    </div>
                                    <div class="col 3">
                                        <b>Tipo de ítem:</b>
                                        {{ i.tipoItem.nombreTipo }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </div>
                <div class="filterDiv en revision">
                    {% for i in items_revision %}
                        <li>
                            <div class="card-panel"
                                 style=
                                         "border-left:15px outset #ff9800;
                                          border-right:0.2px solid black;
                                          border-bottom:0.2px solid black;
                                          border-top: 0.1px solid black;
                                          border-radius: 10px;
                                         "
                            >
                                <div class="row">
                                    <div class="col l4 left">
                                        <b>{{ i.nombre }}</b>
                                    </div>
                                    <div class="col l4 right">
                                        <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                           title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                           style="color:black"
                                        >
                                            Gestionar Ítem
                                            <i class="material-icons dark black-text left">settings</i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col 1">
                                        <b>Estado:</b>
                                        {{ i.estado }}
                                    </div>
                                    <div class="col l4 left">
                                        <b>Costo en horas:</b>
                                        {{ i.costo }}h
                                    </div>
                                    <div class="col 3">
                                        <b>Tipo de ítem:</b>
                                        {{ i.tipoItem.nombreTipo }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </div>
                <div class="filterDiv abierta">
                    {% for lb in lb_abierta %}
                        <div
                                style=
                                        "border-left:15px outset #039be5;
                                         border-right:0.2px solid black;
                                         border-bottom:0.2px solid black;
                                         border-top: 0.1px solid black;
                                         border-radius: 10px;
                                         "
                        >
                            <div class="container" style="text-align: center"
                                 title="Si desea gestionar la Línea Base, haga click en el botón de Configurar Fase.">
                                <h6>
                                    <b>{{ lb.nombre }}</b> ({{ lb.estado }})
                                </h6>
                            </div>
                            {% for i in lb.items.all %}
                                <li style="padding-left: 8px;padding-right: 8px;">
                                    <div class="card-panel"
                                         style=
                                        "border-left:8px outset #039be5;
                                         border-right:0.2px solid black;
                                         border-bottom:0.2px solid black;
                                         border-top: 0.1px solid black;
                                         border-radius: 10px;
                                         "
                                    >
                                        <div class="row">
                                            <div class="col l4 left">
                                                <b>{{ i.nombre }}</b>
                                            </div>
                                            <div class="col l4 right">
                                                <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                                   title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                                   style="color:black"
                                                >
                                                    Gestionar Ítem
                                                    <i class="material-icons dark dark-text left">settings</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col 1">
                                                <b>Estado:</b>
                                                {{ i.estado }} abierta
                                            </div>
                                            <div class="col l4 left">
                                                <b>Costo en horas:</b>
                                                {{ i.costo }}h
                                            </div>
                                            <div class="col 3">
                                                <b>Tipo de ítem:</b>
                                                {{ i.tipoItem.nombreTipo }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </div><br>
                    {% endfor %}
                </div>
                <div class="filterDiv cerrada">
                    {% for lb in lb_cerrada %}
                        <div
                        style=
                                        "border-left:15px outset black;
                                         border-right:0.2px solid black;
                                         border-bottom:0.2px solid black;
                                         border-top: 0.1px solid black;
                                         border-radius: 10px;
                                         "
                        >
                            <div class="container" style="text-align: center"
                                 title="Si desea gestionar la Línea Base, haga click en el botón de Configurar Fase.">
                                <h6>
                                    <b>{{ lb.nombre }}</b> ({{ lb.estado }})
                                </h6>
                            </div>
                            {% for i in lb.items.all %}
                                <li style="padding-left: 8px;padding-right: 8px;">
                                    <div class="card-panel"
                                         style=
                                         "border-left:8px outset black;
                                         border-right:0.2px solid black;
                                         border-bottom:0.2px solid black;
                                         border-top: 0.1px solid black;
                                         border-radius: 10px;
                                         "

                                    >
                                        <div class="row">
                                            <div class="col l4 left">
                                                <b>{{ i.nombre }}</b>
                                            </div>
                                            <div class="col l4 right">
                                                <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                                   title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                                   style="color: black"
                                                >
                                                    Gestionar Ítem
                                                    <i class="material-icons dark black-text left">settings</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col 1">
                                                <b>Estado:</b>
                                                {{ i.estado }} cerrada
                                            </div>
                                            <div class="col l4 left">
                                                <b>Costo en horas:</b>
                                                {{ i.costo }}h
                                            </div>
                                            <div class="col 3">
                                                <b>Tipo de ítem:</b>
                                                {{ i.tipoItem.nombreTipo }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </div><br>
                    {% endfor %}
                </div>
                <div class="filterDiv comprometida">
                    {% for lb in lb_comprometida %}
                        <div
                                style="
                                        border-left:15px outset #ff6d00;
                                        border-right:0.2px solid black;
                                        border-bottom:0.2px solid black;
                                        border-top: 0.1px solid black;
                                        border-radius: 10px;
                            "
                        >
                            <div class="container" style="text-align: center"
                                 title="Si desea gestionar la Línea Base, haga click en el botón de Configurar Fase.">
                                <h6>
                                    <b>{{ lb.nombre }}</b> ({{ lb.estado }})
                                </h6>
                            </div>
                            {% for i in lb.items.all %}
                                <li style="padding-left: 8px;padding-right: 8px;">
                                    {% if i.estado == "en revision" %}
                                        <div
                                                class="card-panel"
                                                style="
                                                            border-left:15px outset #ff6d00;
                                                            border-right:0.2px solid black;
                                                            border-bottom:0.2px solid black;
                                                            border-top: 0.1px solid black;
                                                            border-radius: 10px;
                                                "
                                        >
                                        <div class="row">
                                            <div class="col l4 left">
                                                <b>{{ i.nombre }}</b>
                                            </div>
                                            <div class="col l4 right">
                                                <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                                   title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                                   style="color: black"
                                                >
                                                    Gestionar Ítem
                                                    <i class="material-icons dark black-text left">settings</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col 1">
                                                <b>Estado:</b>
                                                {{ i.estado }}
                                            </div>
                                            <div class="col l4 left">
                                                <b>Costo en horas:</b>
                                                {{ i.costo }}h
                                            </div>
                                            <div class="col 3">
                                                <b>Tipo de ítem:</b>
                                                {{ i.tipoItem.nombreTipo }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if i.estado == "en linea base" %}
                                        <div
                                                class="card-panel"
                                                style="
                                                            border-left:15px outset black;
                                                            border-right:0.2px solid black;
                                                            border-bottom:0.2px solid black;
                                                            border-top: 0.1px solid black;
                                                            border-radius: 10px;
                                                "
                                        >
                                        <div class="row">
                                            <div class="col l4 left">
                                                <b>{{ i.nombre }}</b>
                                            </div>
                                            <div class="col l4 right">
                                                <a href="{% url 'itemConfigurar' i.id fase.id proyecto.id %}"
                                                   title="Ver y/o modificar datos del ítem, relacionar, reversionar."
                                                   style="color: black"
                                                >
                                                    Gestionar Ítem
                                                    <i class="material-icons dark black-text left">settings</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col 1">
                                                <b>Estado:</b>
                                                {{ i.estado }}
                                            </div>
                                            <div class="col l4 left">
                                                <b>Costo en horas:</b>
                                                {{ i.costo }}h
                                            </div>
                                            <div class="col 3">
                                                <b>Tipo de ítem:</b>
                                                {{ i.tipoItem.nombreTipo }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                </li>
                            {% endfor %}
                        </div><br>
                    {% endfor %}
                </div>
            </ul>
        </section>
        {% else %}
            <br>
            <h5>
                La fase no cuenta con items.
            </h5>
        {% endif %}
    </div>

    <script>
        filterSelection("all")
        function filterSelection(c) {
          var x, i;
          x = document.getElementsByClassName("filterDiv");
          if (c == "all") c = "";
          for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
          }
        }

        function w3AddClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
          }
        }

        function w3RemoveClass(element, name) {
          var i, arr1, arr2;
          arr1 = element.className.split(" ");
          arr2 = name.split(" ");
          for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
              arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
          }
          element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btnItem");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
    </script>
{% endblock%}