{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h3>Configurar Fase: {{ fase.nombre }}</h3>
    <form action="/fase/gestionTipoItem/">
            <button type="submit" class="btn btn-small blue darken-1 left">
                Gestionar Tipos de Item
                <i class="material-icons white-text left">settings</i>
            </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
    </form>
    <form action="/fase/addUser/">
        <button type="submit" class="btn btn-small blue darken-1 left">
            Usuarios y sus roles en la fase
            <i class="material-icons white-text left">settings</i>
        </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
    </form>
    <form action="/fase/addUser/">
        <button type="submit" class="btn btn-small blue darken-1 left">
            Lineas base
            <i class="material-icons white-text left">add_circle</i>
        </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
    </form>
    <br>
    <form action="/fase/addUser/">
        <button type="submit" class="btn btn-small blue darken-1 left">
            Añadir usuario
            <i class="material-icons white-text left">add_circle</i>
        </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
    </form>
    <br>
    <h5 style="text-align: center"><b>Usuarios miembros y sus roles en la Fase</b></h5>

    {% if cant_user > 0 %}
        <div class="col s12 md6 x8">
            <ul class="z-depth-1">
                {%for u, r in userRol %}
                    <li>
                        <div class="card-panel z-depth-4 expense">
                            <div class="row">
                                <div class="col 14 left">
                                    <b>{{u}}</b>
                                </div>
                                <div class="col 11 left">
                                    <b>Roles:</b>
                                    {{ r }}
                                </div>
                                <div class="col 9 left">
                                    <a href= "{% url 'faseRolAsignar' proyecto.id fase.id u.id %}">
                                        <i class="material-icons dark blue-text left">add_circle_outline</i>
                                        Agregar Rol
                                    </a>
                                </div>
                                <div class="col 9 left">
                                    <a href="{% url 'faseRolRemover' proyecto.id fase.id u.id %}">
                                        <i class="material-icons darken-4 blue-text left">remove_circle_outline</i>
                                        Remover Rol
                                    </a>
                                </div>
                                <div class="col 9 left">
                                            <a href="{%url 'faseRemoverUser' proyecto.id fase.id u.id%}">
                                                <i class="material-icons darken-4 red-text left">close</i>
                                                Remover Usuario
                                            </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h1>Aún no hay usuarios en esta fase :(</h1>
    {% endif %}
{% endblock%}
