{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if proyecto.estado == 'pendiente' %}
        <form action="/fase/faseUsers/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                Volver a la configuración de miembros y roles de la fase {{ fase.nombre }}
                <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
        </form>
    {% endif %}
    <div class="container">
        <form action="{%url 'faseRolRemover' proyecto.id fase.id usuario.id%}" method="post">
            {% csrf_token %}
            <h4 style="text-align: center">Remover roles de miembros de la fase</h4><br>
            <h6>Seleccione un rol para remover del usuario "{{ usuario }}"</h6>
            <div class="form-check">
                {% for r in roles %}
                    <label>
                        <input  type="radio" class="filled-in"  value={{r.id}} id="rolname" name="rol"/>
                        <span style="color: black">{{r.nombre}}</span>
                    </label>
                {% endfor %}
            </div><br>
            <button type="submit" class="btn-small blue darken-2 right">
                Remover rol del usuario
                <i class="material-icons white-text left">person_outline</i>
            </button>
        </form>
    </div>
{% endblock%}
