{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoFase/proyectoid={{proyecto.id}}">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Fases del Proyecto
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
    </form>
    <div class="container">
        <h3 style="text-align: center">{{fase.nombre}}</h3>
        <h5 style="text-align: center" class="grey-text">Panel de Configuración de la fase {{fase.nombre}}</h5>
        <div class="container">
            <h6 style="text-align: center"><b>Descripción</b></h6>
            <div class="col s12 md6 x8">
                <div class="card-panel">
                    {{ fase.descripcion }}
                </div>
            </div>
            <div class="container">
                <h5 style="text-align: center"><b>Usuarios miembros y sus roles en la Fase</b></h5>

            </div>
            <form action="/fase/FaseIniciada/addUser/">
                        <button type="submit" class="btn btn-small blue darken-1 right">
                            Añadir Usuario
                            <i class="material-icons white-text left">add_circle</i>
                        </button>
                        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
                    </form><br>
            {% if userRol %}
                <div class="col s12 md6 x8">
                    <ul class="z-depth-1">
                        {%for u, r in userRol %}
                            <li>
                                <div class="card-panel z-depth-4 expense">
                                    <div class="row">
                                        <div class="col 14 left">
                                            <b>{{u}}</b>
                                        </div>
                                        <div class="col 11 left">
                                            <b>Roles:</b>
                                            {{ r }}
                                        </div>
                                        <div class="col 9 left">
                                            <a href= "{/">
                                                <i class="material-icons dark blue-text left">add_circle_outline</i>
                                                Agregar Rol
                                            </a>
                                        </div>
                                        <div class="col 9 left">
                                            <a href="/">
                                                <i class="material-icons darken-4 blue-text left">remove_circle_outline</i>
                                                Remover Rol
                                            </a>
                                        </div>
                                        <div class="col 9 left">
                                            <a href="/">
                                                <i class="material-icons darken-4 red-text left">close</i>
                                                Remover Usuario
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <h5>Aún no hay usuarios en esta fase :(</h5>
            {% endif %}
            </div>

        {%if proyecto.estado != "cancelado"%}
            <form action="/fase/modify/">

                <button type="submit" class="btn blue darken-3 right">
                    Modificar datos de la Fase
                   <i class="material-icons white-text left">edit</i>
                </button>
                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
             </form>


            <form action="/fase/unable/">
                <button type="submit" class="btn red darken-5 left">
                    Deshabilitar Fase
                   <i class="material-icons white-text left">delete</i>
                </button>
                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
            </form>
        {%endif%}
    </div>
{% endblock%}
