{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if proyecto.estado == 'pendiente' %}
        <form action="/fase/faseVer/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                Volver a la configuración de la fase {{ fase.nombre }}
                <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
        </form>
    {% else %}
        <form action="{%url 'faseConfinicializada' proyecto.id fase.id  %}">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                Volver a la configuración de la fase {{ fase.nombre }}
                <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
        </form>
    {% endif %}
    <div class="container">
        <h4 style="text-align: center"> Tipos de Ítems de la fase {{ fase.nombre }}</h4><br>
        {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
            {% if add_tipo %}
                <form action="/fase/addTipoItem/">
                    <button type="submit" class="btn btn-small blue darken-1 right">
                        Añadir Tipo de Item a la Fase
                        <i class="material-icons white-text left">add_circle</i>
                    </button>
                    <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                    <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
                </form><br>
            {% else %}
                <button
                        title="La fase ya cuenta con todos los tipos de item del proyecto"
                        style="cursor: default"
                        class="btn btn-small #eeeeee grey lighten-3 black-text right"
                >
                    Añadir Tipo de Item a la Fase
                    <i class="material-icons white-text left">add_circle</i>
                </button><br>
            {% endif %}
        {% endif %}
    {% if tipos_removible or tipos_no_removible %}
        {% if tipos_removible %}
            <div class="col s12 md6 x8">
                <ul class="z-depth-1">
                    {%for t in tipos_removible %}
                        <li>
                            <div class="card-panel z-depth-4 expense">
                                <div class="row">
                                    <div class="col 14 left">
                                        <b>{{t.nombreTipo}}</b>
                                    </div>
                                    {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                                        <div class="col 9 right">
                                            <a href="{%url 'faseRemoveTipo' proyecto.id fase.id t.id%}"
                                               onclick="return confirm('Está seguro de remover el tipo de ítem {{ t.nombreTipo }} de la fase?');"
                                            >
                                                <i class="material-icons darken-4 red-text left">delete</i>
                                                Remover Tipo de Item de la fase
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col 11 left">
                                        <b>Campos extra definido por usuarios: </b>
                                        {% for c in t.campo_extra %}
                                            {{ c }}&emsp;
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if tipos_no_removible  %}
            <div class="col s12 md6 x8">
                <ul class="z-depth-1">
                    {%for t in tipos_no_removible %}
                        <li>
                            <div class="card-panel z-depth-4 expense">
                                <div class="row">
                                    <div class="col 14 left">
                                        <b>{{t.nombreTipo}}</b>
                                    </div>
                                    {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                                        <div class="col 9 right">
                                            <a
                                                    title="El Tipo de Item no puede ser removido porque está siendo utilizado por un ítem de esta fase."
                                                    style="color:#C5C5C5"
                                            >
                                                Remover Tipo de Item de la fase
                                                <i class=" disabled material-icons darken-4 grey-text left">delete</i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col 11 left">
                                        <b>Campos extra definido por usuarios: </b>
                                        {% for c in t.campo_extra %}
                                            {{ c }}&emsp;
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <h5>Aún no hay Tipos de ítem en este proyecto :(</h5>
    {% endif %}


    </div>
{% endblock%}