{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoFase/proyectoid={{proyecto.id}}">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Fases del Proyecto
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
    </form>
    <div class="container">
        <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h2 style="text-align: left">{{fase.nombre}}</h2>
                </div>
                <div style="position: absolute; right: 0; top: 0; text-align: left">
                    {%if proyecto.estado != "cancelado"%}
                        {%if fase.estado != "deshabilitada"%}
                            <br><br>
                            <form action="/fase/unable/">
                                <button type="submit"
                                        onclick="return confirm('Está seguro de deshabilitar la fase {{ fase.nombre }}del proyecto?');"
                                        class="btn-small red darken-5 left"
                                >
                                    Deshabilitar Fase
                                   <i class="material-icons white-text left">delete</i>
                                </button>
                                <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                                <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
                            </form>
                        {%endif%}
                    {%endif%}
                </div>
        </div><br><br><br><br><br><br>
        <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h5 style="text-align: center"><b>Descripción</b></h5>
                </div>
                <div style="position: absolute; right: 0; top: 0; text-align: left">
                    {%if fase.estado != "deshabilitada"%}
                        <form action="/fase/modify/">
                            <button type="submit" class="btn-small blue darken-2 right">
                                Modificar datos
                               <i class="material-icons white-text left">edit</i>
                            </button>
                            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
                            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
                         </form>
                    {% endif %}
                </div>
        </div><br><br>
    </div>
    <div class="container">
        <div class="col s12 md6 x8">
            <div class="card-panel">
                {{ fase.descripcion }}
            </div>
        </div>
        <h5 style="text-align: left"><b>Opciones de Configuración de Fase</b></h5><br>

        <form action="/fase/gestionTipoItem/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/">
            <button type="submit" class="btn btn-small blue darken-2 left">
                Gestionar Tipos de Item
                <i class="material-icons white-text left">settings</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
         </form>
        <form action="/fase/faseUsers/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/">
            <button type="submit" class="btn btn-small blue darken-2 right">
                Gestionar Usuarios de la fase
                <i class="material-icons white-text left">settings</i>
            </button>
         </form><br>

    </div>
{% endblock%}
