{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/fase/gestionLineaBase/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a la Gestión de Lineas Base
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
    </form>
    <div class="container">
        <h3 style="text-align: center">Crear Línea Base</h3><br>
        <form action="/fase/addLineaBase/" method="post">
            {% csrf_token %}
            <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h6>Nombre generado para la Línea Base:</h6>
                </div>
                <div style="position: absolute; left: 25em; top: 0; text-align: left">
                    <h6
                        title="Generado automáticamente"
                    >
                        <b>
                            {{nombre}}
                        </b>
                    </h6>
                </div>
            </div><br><br>
            <div style="position: relative;">
                <div style="position: absolute; left: 0; top: 0; text-align: left">
                    <h6>Creador de la Línea Base:</h6>
                </div>
                <div style="position: absolute; left: 25em; top: 0; text-align: left">
                    <h6
                        title="Éste campo no puede ser modificado."
                    >
                        <b>
                            {{user}}
                        </b>
                    </h6>
                </div>
            </div><br><br>
            <i>Obs.: Sólo el creador de la línea base podra cerrar la misma.</i><br><br>
            <div>
                <h6>Selecciona los items a agregar en la linea base:</h6>
                {%for i in items%}
                    <div class="form-check">
                            <label>
                                <label>
                                    <input class="filled-in" type="checkbox"
                                           value= " {{i.id}} "
                                           id= "items"
                                           name="items"
                                    >
                                    <span style="color:black">
                                        {{i.nombre}}
                                    </span>
                                </label>
                            </label>

                    </div>
                {%endfor%}
            </div>
            <button type="submit" class="btn btn-small blue darken-1 right"
                    onclick="myFunction()"
            >
                Crear Linea Base
                <i class="material-icons white-text left">add_circle</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
            <input  type="hidden" value={{nombre}} id="nombre" name="nombre">
        </form>
  </div>
{% endblock%}
<script>
        function myFunction() {
            alert("Linea Base creada correctamente.");
        }
</script>