{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/fase/gestionLineaBase/proyectoid={{ proyecto.id }}/faseid={{ fase.id }}/mensaje=' '/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a la Gestión de Lineas Base
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
        <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
        <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
    </form>
    <div class="container">
        <h4 style="text-align: center"> Solicitud de Rotura de Línea Base</h4>
        <h5 style="text-align: center"> Linea Base: {{ lineaBase.nombre }}</h5>
        <div class="card-panel" style="border:2px solid #00b0ff ;">
            <div class="row">
                            <div class="col 14 left">
                                <b>Solicitante:</b>
                                {{solicitud.solicitante}}
                            </div>
                            <div class="col 14 right">
                                <b>Fecha:</b>
                                {{solicitud.fecha}}
                            </div>
                        </div>
            <div class="row">
                <div class="col 14 left">
                    <b>Descripción de la Solicitud:</b>
                    {{solicitud.descripcion_solicitud}}
                </div>
            </div>
            <div class="row">
                <div class="col 14 left">
                    <b>Items:</b>
                    {% for i in solicitud.items_implicados.all %}
                        <li>
                            <a href="{%url 'itemConfigurar' i.id fase.id proyecto.id%}"
                               title="Ver ítem."
                            >
                                <i class="material-icons blue-text lighten-4 right">search</i>
                            </a>
                            <span style="font-size: 15px ">
                                <b>{{ i.nombre }}</b><br>
                            </span><br>
                        </li>
                    {% endfor %}
                </div>
            </div>
            <br>
            <b>Votos del Comité de Control de Cambios:</b>
            {% for votante, voto in registro_votos.items %}
                <ul>
                    <li>
                        <div class="row">
                            <div class="col 14 left">
                                <b>&nbsp {{ votante }}: </b>
                                {{voto}}
                            </div>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        </div>
        {% if voto %}
            <button style="cursor: default"
                    class="btn btn-small #eeeeee grey lighten-3 black-text right"
                    title="Ya emitiste voto por la rotura de esta Línea Base.">
                Aprobar Rotura de Línea Base
                <i class="material-icons black-text left">check</i>
            </button>
        {% else %}
            <form
                    action="/fase/roturaLineaBase/votacion/aprobado/proyectoid={{ proyecto.id }}/faseid= {{ fase.id }}/lineaBaseid={{ lineaBase.id }}/solicituid={{ solicitud.id }}"
                    onsubmit="return confirm('Está seguro de votar a favor de la rotura de la Linea Base?');"
            >
                <button type="submit" class="btn btn-small green darken-1 right">
                    Aprobar Rotura de Línea Base
                    <i class="material-icons white-text left">check</i>
                </button>
            </form>
        {% endif %}
        {% if voto %}
            <button style="cursor: default"
                    class="btn btn-small #eeeeee grey lighten-3 black-text left"
                    title="Ya emitiste voto por la rotura de esta Línea Base.">
                Rechazar Rotura de Línea Base
                <i class="material-icons black-text left">close</i>
            </button>
        {% else %}
            <form
                    action="/fase/roturaLineaBase/votacion/rechazado/proyectoid={{ proyecto.id }}/faseid= {{ fase.id }}/lineaBaseid={{ lineaBase.id }}/solicituid={{ solicitud.id }}"
                    onsubmit="return confirm('Está seguro de votar en contra de la rotura de la Linea Base?');"
            >
                <button type="submit" class="btn btn-small red darken-1 left">
                    Rechazar Rotura de Línea Base
                    <i class="material-icons white-text left">close</i>
                </button>
            </form>
        {% endif %}
    </div>


{% endblock%}