{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/fase/gestionLineaBase/">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                Volver a la Gestión de Lineas Base
                <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
        </form>
    <div class="container">
        <h2 style="text-align: center">{{ lineaBase.nombre }}</h2>
        <div class="card-panel z-depth-4 expense">
            <div class="row">
                <div class="col 14 left">
                    <b>Nombre:</b>
                    {{ lineaBase.nombre }}
                </div>
                <div class="col 14 left">
                    <b>Estado:</b>
                    {{ lineaBase.estado }}
                </div>
                <div class="col 14 left">
                    <b>Creador:</b>
                    {{ lineaBase.creador }}
                </div>
            </div>
            <div class="row">
                <div class="col 14 left">
                    <b>Items:</b>
                    {% for i in items %}
                        {{ i.nombre }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}