{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
  .ListaProyectos h6 {
      font-weight: bold;
  }
  </style>
    <div class="container">

    <section class="section ProyectoCrear" style="padding-right: 10px;">
        <form action="/proyecto/proyectoCrear/">
            <h3 style=" padding-left: 5px;">Lista de Proyectos
            <button type="submit"  class="btn blue darken-1 right">
                <i class="material-icons white-text left">add_circle</i>
                Crear Proyecto
            </button>
       </h3> </form>
    </section>
    <section class="ListaProyectos">
         <div class="row">
            {% for p in proyectos %}

              {%if p.estado != "deshabilitado"%}
                    <div class="col s4 md6 xl3">
                        <div
                                {% if p.estado == "pendiente" %}
                                    style= "border:1px solid #03a9f4;"
                                    class="card-panel"
                                {% endif %}
                                {% if p.estado == "inicializado" %}
                                    style= "border:1.5px solid #1b5e20;"
                                    class="card-panel"
                                {% endif %}
                                {% if p.estado == "cancelado" %}
                                    style= "border:1px solid #c62828;"
                                    class="card-panel"
                                {% endif %}
                                {% if p.gerente == request.user.username %}
                                    class="card-panel"
                                {% endif %}
                        >

                           <h6><b> {{ p.nombre }}</b></h6>
                           <p><b>Estado:</b> {{ p.estado }}</p>
                             <p style="font-size: 15px;"><b>Gerente:</b> {{ p.gerente }}<br>
                            <a href="{%url 'proyectoView' p.id%}" class="btn blue darken-6">
                                Ver

                            </a>
                        </div>
                    </div>
              {%endif%}

            {% empty %}

                <br>
                <div class="noproject-wrapper center"><br><br>
                    <h4 class="grey-text">Aún no formas parte de algún proyecto :(</h4>
                </div>
            {% endfor %}
            </div>
    </section>
  </div>

{% endblock%}