<html lang="en">

  <head>
    <title>Item</title>
    <meta name="google-signin-client_id" content="487864700073-g956o7354n0md6k8eogk34rtvbep4agr.apps.googleusercontent.com">

    <link rel="stylesheet"href="../static/admin/css/master.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

  </head>

  <body>



      <div class="g-signin2" data-onsuccess="onSignIn" >

      </div>
        <h1>Bienvenido </h1>

      <p><i>Usuario:</i>
        <div id="content"></div>
      </p>
        
      <a href="http://localhost:8000/" onclick="signOut();">Cerrar Sesión</a>



  </body>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:

          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail());
          var element = document.querySelector('#content')
          element.innerText = profile.getName();

      }
      function signOut() {
            gapi.auth2.getAuthInstance().signOut().then(function () {
                console.log('user signed out')
            })
      }
   </script>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

</script>

</html>