
<html lang="en">

  <head>
    <title>Item</title>
    <meta name="google-signin-client_id" content="487864700073-g956o7354n0md6k8eogk34rtvbep4agr.apps.googleusercontent.com">
    <title> Login  </title>
    <link rel="stylesheet"href="../static/admin/css/master.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

  <body>
    <div class = "login-box">
      <img class="avatar" src="../static/admin/img/avatar-01.png" alt="logo de fazt">
      <h1>User Login</h1>

      <div class="g-signin2" data-onsuccess="onSignIn" >

      </div>

      <div id="content"></div>
    </div>
  </body>

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
          window.location.replace("http://localhost:8000/bienvenido");
          var profile = googleUser.getBasicProfile();

          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail());







      }
      function signOut() {
            gapi.auth2.getAuthInstance().signOut().then(function () {
                console.log('user signed out')
            })
    }

    </script>

</html>