{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WRONG</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/wrong.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <div id="pantalla">
        <form action="/accounts/logout">
            <h4>{{user.username}}<br> Aun no cuenta con permisos para acceder al sistema</h4>
            <input type="submit" value="Salir" />
        </form>
    </div>
</body>
</html>
