
section {
    position: absolute ;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
    height: 300px;

}

input{
    position: center;
    margin-bottom: 7px;
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.9);
    left: 10%;
}

h4,h5{
    color: black;
    font-family: SansSerif, fantasy;
    margin-left: 20px;
    text-decoration:none ;
}

button{
    position: absolute;
    top:90%;
    right: 20%;
}
