section {
    position: absolute;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    background-color: rgba(197,175,170,0.7);
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 5%;
    width: 40%;
    height: 400px;
}

h4{
    color: black;
    font-family: SansSerif, fantasy;
    margin-top: 4%;
    margin-left: 3em;
    text-decoration:none ;
}
.form-check{
    margin-left: 7%;
}
.form-check input{
    border: 2px solid rgba(0,0,0,0.9);
    box-shadow: 0 0 2px rgba(0,0,0,0.9);
    left: 13px;
}

button{
    position: absolute;
    top:365px;
    right:22%;
}
