{% extends 'base.html' %}
{% load static %}
{% block title %}Agregar Permisos{% endblock %}
{% block content %}
     <form action="/gestionUser/permisos/">
           <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Permisos de Sistema
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
     </form>
    <div class="container">
        <h5 style="text-align: center">Agregar Permisos de Sistema a Usuarios</h5>
        <form action="." method="POST">{% csrf_token %}
               <div class="input-field col s12">
                    <select class="browser-default" id="usuarios" name="usuarios">
                       <option value="" disabled selected>Seleccione un usuario para asignarle permisos</option>
                                               {% for u in usuarios %}
                                                    <option value="{{u.id}}">{{u.username}}</option>
                                               {% endfor %}
                    </select>
               </div>
               <button id="but"  type="submit"  class="btn-small blue darken-3 right" name="seleccion" value="Seleccionar Usuario">
                  Confirmar
               </button>
        </form><br><br>
        {% if select is not None %}
             <form action="." method="post">{% csrf_token %}
                 <h5 style="text-align: center" class="grey-text">Selecciona los Permisos a agregar para {{select.username}}</h5>

                                    <div  id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in"  value="1" id="permiso" name="perms">
                                                <span>Ver Menu</span>
                                            </label>
                                            <input  type="hidden" value={{user.id}} id="user" name="userid">
                                    </div>
                                    <div id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in" value="2" id="permiso" name="perms">
                                                <span>Asignar Permisos</span>
                                            </label>
                                    </div>
                                     <div id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in" value="3" id="permiso" name="perms">
                                                <span>Crear Usuario</span>
                                            </label>
                                    </div>
                                     <div id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in" value="4" id="permiso" name="perms">
                                                <span>Modificar Usuario</span>
                                            </label>
                                    </div>
                                     <div id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in"  value="5" id="permiso" name="perms">
                                                <span>Deshabilitar Usuario</span>
                                            </label>
                                    </div>
                                     <div id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in"  value="6" id="permiso" name="perms">
                                                <span>Visualizar Usuario</span>
                                            </label>
                                    </div>
                                     <div id="form-check">
                                            <label >
                                                <input type="checkbox" class="filled-in"  value="7" id="permiso" name="perms">
                                                <span>Consultar Reporte</span>
                                            </label>
                                    </div>
                                     <div id="form-check">

                                            <label >
                                                <input type="checkbox" class="filled-in"  value="8" id="permiso" name="perms">
                                                <span>Crear Proyecto</span><br>
                                            </label>

                                    </div>
                                    <input type="hidden" id="usuario" name="usuario" value="{{select.id}}">
                               </form>
                                <div class="card-action">
                                    <form action="/gestionUser/">
                                        <br><button id ="guar" class="btn-small blue darken-3 right" type="submit" name="addperm" value="Guardar" onclick="myFunction();" >
                                            <i class="material-icons left">save</i>Agregar Permisos
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>



        <script>
                function myFunction() {
                    alert("Permiso agregado correctamente.");
                }
        </script>
</div>

{% endblock %}




