{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuidado</title>
    <link rel="stylesheet" href="css/already.css">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <div>
        <h5>Esta tratando de asignar algun permiso con el que el usuario ya cuenta. Por favor, verifique el problema.</h5>
        <form action="/gestionUser/">
            <input type="submit" value="Volver a Gestion de Usuarios" />
        </form>
    </div>
</body>
</html>