{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Usuarios{% endblock %}
{% block content %}

     <form action="/gestionUser/">
           <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Usuarios
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
     </form>
    <div class="container">
            <h3 style="text-align: center">Confirmar Usuarios</h3>
            <h5 style="text-align: center" class="grey-text">Selecciona un usuario para confirmar</h5><br>
              <form action="/gestionUser/conf/" method="post">
                  {% csrf_token %}
                    {%for u in usuarios%}
                       <label>
                        <input  type="checkbox" class="filled-in"  value={{u.id}} id="username" name="users"/>
                         <span>{{u.username}}</span>
                       </label>
                       <br>
                    {%endfor%}


                <br>

                 <button id ="guar" class="btn blue darken-3 right" type="submit" name="addperm" onclick="myFunction();" value="Guardar">
                      <i class="material-icons left">verified_user</i>Confirmar Usuarios
                  </button>
              </form>


        </section>


        <script>
                function myFunction() {
                    alert("Usuario confirmado correctamente.");
                }
        </script>

    </div>


{% endblock %}


