{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Usuarios{% endblock %}
{% block content %}

     <form action="/gestionUser/">
           <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Usuarios
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
     </form>
    <div class="container">
            <h3 style="text-align: center">Volver a habilitar usuarios al sistema</h3>
            <h5 style="text-align: center" class="grey-text">Selecciona usuarios a readmitir</h5><br>
    <section>
        <form action="/gestionUser/habilitar/" method="post" id="enable" onsubmit="return confirm('Esta seguro?');">
            {% csrf_token %}
             <div class="form-check">
                 {% for u in usuarios %}
                    <input class="form-check-input" type="checkbox" value={{u.id}} id="username" name="users">
                    <label class="form-check-label" for="username">{{u.username}}</label>
                 {% endfor %}
            </div>
            <button type="submit" class="btn blue darken-3 right">
                Habilitar
                 <i class="material-icons left">person_add</i>
            </button>
        </form>
    </section>

{% endblock %}