{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion de Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gestionUser.css' %}">
    <div id="sidebar" >
            <ul>
                <li>
                    <img src="{% static 'img/logo.jpg' %}" alt="logotipo" class="logo">
                    <br><h4>{{user.username}}</h4>
                </li>
                <li><a href="/home/">Home</a></li>
                <li><a href="/accounts/logout">Log Out</a></li>
            </ul>

    </div>
</head>
<body>
    <style> body{background-color: lavender }</style>
    <section id="menu">
        <ul>

        </ul>
    </section>
    <section id="sol">
        <form action="/gestionUser/conf/">
            <input type="submit" value="Confirmar Usuarios" />
        </form><br>
        <form action="/gestionUser/permisos/">
            <input type="submit" value="Permisos del Sistema"/>
        </form><br>
        <form action="/gestionUser/ver/">
            <input type="submit" value="Ver Usuarios"/>
        </form><br>
        <form action="/gestionUser/modify/">
            <input type="submit" value="Modificar Usuarios"/>
        </form><br>
        <form action="/gestionUser/deshabilitar/">
            <input type="submit" value="Deshabilitar Usuarios"/>
        </form><br>
    </section>
</body>
</html>