{% extends 'base.html' %}
{% load static %}
{% block title %}Remover Permisos{% endblock %}
{% block content %}
    <form action="/gestionUser/permisos/">
           <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Permisos de Sistema
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
    </form>
    <div class="container">
            <h3 style="text-align: center">Remover permisos de sistema a Usuarios</h3>
        <form action="." method="POST">{% csrf_token %}
                            <div class="input-field col s12">
                                <select id="usuarios" class="browser-default" name="usuarios">
                                        <option value="" disabled selected>Seleccionar Usuario</option>
                                       {% for u in usuarios %}
                                            <option value="{{u.id}}">{{u.username}}</option>
                                       {% endfor %}
                                </select>
                            </div>
                            <button id="but"  type="submit"  class="btn-small blue darken-3 right" name="seleccion" value="Seleccionar Usuario">
                                Confirmar
                            </button>
                       </form><br><br>
        {% if select is not None %}
            <form action="." method="post">{% csrf_token %}
                <h5 style="text-align: center" class="grey-text">Selecciona los permisos a remover de {{select.username}}</h5>
                                 {% for p in permisos %}
                                    <input class="form-check-input right" type="checkbox" value={{p.codename}} id="perm" name="perms">
                                    {% for key, value in dic.items %}
                                        {% if key == p.codename %}
                                            <label class="form-check-label" for="perm">{{value}}</label>
                                        {% endif %}
                                    {% endfor %}
                                 {% endfor %}
                               <input type="hidden" id="usuario" name="usuario" value="{{select.id}}"><br>
                           </form>
                            <div class="card-action">
                                <form action="/gestionUser/">
                                    <br><button id ="guar" class="btn-small blue darken-3 right" type="submit" name="removeperm" onclick="myFunction()" value="Remover">
                                            <i class="material-icons left">remove_circle_outline</i>REMOVER
                                        </button>
                                </form>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>


            <script>
                    function myFunction() {
                        alert("Permiso removido correctamente.");
                    }
            </script>

    </div>

{% endblock %}


