{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verData.css' %}">

</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <h4>Informacion de Usuario {{usuario.username}}</h4>
        <p>Email: {{usuario.email}}</p>
        <p>Permisos:</p>
        {%for p in permisos%}
            <p>{{p}}</p>
        {%endfor%}
        <form action="/gestionUser/">
            <input type="submit" value="Volver a Gestion de Usuarios "/>
        </form>
    </section>
</body>
</html>