{% extends 'base.html' %}
{% load static %}
{% block title %}Ver Usuario{% endblock %}
{% block content %}

    <style>
        #ver_user{
            position: absolute;
            margin-top: 2%;
            width: 70%;
        }
        .col s12 m7{
            margin-left: 17%;
            width:45%;
            height: 50%;
        }
        #usuarios{
             width: 25%;
            top:5%;
            margin-left: 35%;

        }
        h4{
            color: black;
            margin-left: 30%;
            text-decoration:none ;
            font-size: 15px;
        }
        p{
            color: black;
            margin-left: 10%;
            text-decoration:none ;
            font-size: 18px;
        }
        #but{
            top:17%;
            margin-left: 68%;
            font-size: 15px;
            position: absolute;
        }
        #guar{
            top:85%;
            left:80%;
        }
    </style>
    <section id="ver_user">
        <form action="/gestionUser/">
            <br><input type="submit" value="Atras" />
        </form>
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <form action="." method="POST">{% csrf_token %}
                            <div class="input-field col s12">
                               <select id="usuarios" class="browser-default" name="usuarios" >
                                   <option value="" disabled selected>Seleccionar Usuario</option>
                                   {% for u in usuarios %}
                                        <option value="{{u.id}}">{{u.username}}</option>
                                   {% endfor %}
                               </select><br><label for="usuarios"><p>Seleccione un Usuario a Agregar Permisos</p></label>
                            </div><br>
                            <button id="but"  type="submit"  class="btn blue waves-light btn-small" name="seleccion" value="Seleccionar Usuario">
                                <i class="material-icons left">person</i>
                                USUARIO SELECCIONADO
                            </button>
                        </form>
                    </div>
                        {% if select is not None %}
                            <h4>INFORMACION DEL USUARIO {{select.username}}</h4>
                            <p>Email: {{select.email}}</p>
                            <p>Permisos:</p>
                            {%for p in permisos%}
                                <p>{{p}}</p>
                            {%endfor%}
                        {% endif %}
                    <div class="card-action">
                                <button onclick="window.location.href={% url 'gestionUserView' %}" id="guar" type="submit" class="btn blue darken-1 right">
                                    <i class="material-icons white-text left">keyboard_return</i>VOLVER A GESTION DE USUARIOS
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

