{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verUser.css' %}">
</head>
<body>
    <style> body{background-color: lavender }</style>
    <section>
        <form action="." method="POST">{% csrf_token %}
           <label for="usuarios">Seleccione un Usuario a Agregar Permisos:</label>
           <select id="usuarios" name="usuarios">
           {% for u in usuarios %}
                <option value="{{u.id}}">{{u.username}}</option>
           {% endfor %}

           </select>
           <input type='submit' name="seleccion" value="Seleccionar Usuario" />
       </form>
        {% if select is not None %}
            <h3>Informacion de Usuario {{select.username}}</h3>
            <p>Email: {{select.email}}</p>
            <p>Permisos:</p>
            {%for p in permisos%}
                <p>{{p}}</p>
            {%endfor%}
        {% endif %}
        <button onclick="window.location.href={% url 'gestionUser' %}">Volver a Gestion de Usuarios</button>
    </section>
</body>
</html>

