{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    .accordion {
      background-color: #F2F2F2;
      color: 	#000000;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      transition: 0.1s;
    }
    .accordion:focus{
        outline: none;
        background-color: #F2F2F2;
    }
    .accordion:hover {
      background-color: #E5E5E5;
    }

    .accordion:after {
      content: '\002B';
      color: #5AB9EA;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    var counter = 0;
    </style>
    <form action="{%url 'itemConfigurar' item.id faseid proyectoid%}">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a la Gestión del ítem
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
    </form>
    <div class="container">
        <h3 style="text-align: center">{{ item.nombre }}</h3>
        <h5 style="text-align: center" class="grey-text">Historial del item</h5>
        <h8 style="text-align: left" class="grey-text">Haga click en el ícono + para desplegar la informacion sobre la version del item .</h8>
        {% for i in versions %}
            <button class="accordion" >
                <h8>
                    Version
                    <i class="material-icons blue-text left">update</i>
                </h8>
                <i class="material-icons blue-text left"></i>
            </button>
            <div class="panel">
                <section class="DescripcionProyecto">
                    <div class="col s12 md6 xl3">
                        <div class="card-panel">
                            {% for field_name, field_value in i.field_dict.items %}
                                <div class="row">
                                    <div class="col l4 left">
                                        <b>{{ field_name }}</b>  {{ field_value }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if item.estado == "en desarrollo" %}
                        <form action="{%url 'itemRev'  proyectoid faseid item.id i.revision.date_created %}"
                              onsubmit="return confirm('Está seguro de volver a esta versión del ítem?');"
                        >
                            <button
                                    type="submit" class="btn btn-small blue darken-5 right"
                                    title="Volver a ésta versión del ítem"
                            >
                                Reversionar
                                <i class="material-icons white-text left">autorenew</i>
                            </button><br>
                        </form>
                    {% endif %}
                </section>
            </div>
       {% endfor %}
   </div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

{% endblock%}