{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    .accordion {
      background-color: #F2F2F2;
      color: 	#000000;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      transition: 0.1s;
    }
    .accordion:focus{
        outline: none;
        background-color: #F2F2F2;
    }
    .accordion:hover {
      background-color: #E5E5E5;
    }

    .accordion:after {
      content: '\002B';
      color: #5AB9EA;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    var counter = 0;
    </style>
    <form action="{%url 'itemConfigurar' item.id faseid proyecto.id%}">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a la Gestión del ítem
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
    </form>
    <div class="container">
        <h3 style="text-align: center">{{ item.nombre }}</h3>
        <h5 style="text-align: center" class="grey-text">Historial de cambios del ítem</h5>
        <h8 style="text-align: left" class="grey-text">Haga click en el ícono + para desplegar la informacion sobre la version del item .</h8>
        {% for i in versions %}
            <button class="accordion" >
                <h8>
                    Version {{ i.field_dict.version}}
                    <i class="material-icons blue-text left">update</i>
                </h8>
                <i class="material-icons blue-text left"></i>
            </button>
            <div class="panel">
                <section class="DescripcionProyecto">
                    <div class="col s12 md6 xl3">
                        <div class="card-panel">
                            <div class="row">
                                <div class="col l4 left">
                                    <b>Nombre:</b>  {{ i.field_dict.nombre }}
                                </div>
                                <div class="col l4 left">
                                    <b>Id ítem:</b>  {{ i.field_dict.id }}
                                </div>
                                <div class="col l4 left">
                                    <b>Id Tipo de ítem:</b>  {{ i.field_dict.tipoItem_id }}
                                </div>
                                <div class="col l4 left">
                                    <b>Id Fase:</b>  {{ i.field_dict.faseid}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4 left">
                                    <b>Observacion:</b>  {{ i.field_dict.observacion }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col l4 left">
                                    <b>Estado:</b>  {{ i.field_dict.estado }}
                                </div>
                                <div class="col l4 left">
                                    <b>Fecha:</b>  {{ i.field_dict.fecha }}
                                </div>
                                <div class="col l4 left">
                                    <b>Costo:</b>  {{ i.field_dict.costo }}
                                </div>
                                <div class="col l4 left">
                                    <b>Versión:</b>  {{ i.field_dict.version }}
                                </div>
                            </div>
                            {% for field_name, field_value in i.field_dict.items %}
                                {% if field_name == "archivos" %}
                                    <b>Archivos:</b>
                                    {% for a in field_value %}
                                        <div class="row">
                                            <div class="col l4 left">
                                                <i class="material-icons dark black-text left">insert_drive_file</i>
                                                {{ a }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if field_name == "campo_extra_valores" %}
                                    {% for c in field_value %}
                                        <div class="row">
                                            <div class="col l4 left">
                                                <b>Campos Extra:</b> {{ c }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if not proyecto.estado == "cancelado" and not proyecto.estado == "finalizado" %}
                        {% if item.estado == "en desarrollo" %}
                            <form action="{%url 'itemRev'  proyecto.id faseid item.id i.revision.date_created %}"
                                  onsubmit="return confirm('Está seguro de volver a esta versión del ítem?');"
                            >
                                <button
                                        type="submit" class="btn btn-small blue darken-5 right"
                                        title="Volver a ésta versión del ítem"
                                >
                                    Revertir
                                    <i class="material-icons white-text left">autorenew</i>
                                </button><br><br>
                            </form>
                        {% else %}
                            <button
                                    type="submit"
                                    class="btn btn-small #eeeeee grey lighten-3 black-text right"
                                    title="El ítem debe estar 'en desarrollo' para poder realizar una reversión."
                            >
                                Revertir
                                <i class="material-icons white-text left">autorenew</i>
                            </button><br><br>
                        {% endif %}
                    {% endif %}
                </section>
            </div>
       {% endfor %}
   </div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

{% endblock%}