{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="/proyecto/proyectoVer/proyectoid={{proyectoid}}">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a Gestión de Proyecto
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
    </form>
    {{mensaje}}
	<div class="container">
        <section>
            <h3 style="text-align: center">Item: {{item.nombre}}</h3>
            <h5 style="text-align: center" class="grey-text">Panel de Configuración del ítem {{item.nombre}}</h5>

            <p><div>
                <h5 style="text-align: left" class="grey-text">Fecha:</h5>
                {{item.fecha}}
            </div></p>
            {%if proyecto.estado != "cancelado"%}
                {%if pendientePermiso or aprobadoPermiso%}
            <form action="/item/itemCambiarEstado/">
                <p><div>
                    <h5 style="text-align: left" class="grey-text">Estado:</h5>
                    <select id="estado" name="estado" class="browser-default">
                        {%if item.estado == "en desarrollo"%}
                            {%for c in choices%}
                                {%if c != "aprobado"%}
                                    {%if c == "en desarrollo"%}
                                        <option value="{{c}}" selected>{{c}}</option>
                                    {%endif%}
                                    {%if c == "pendiente de aprobacion"%}
                                        {%if pendientePermiso%}
                                            <option value="{{c}}">{{c}}</option>
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                        {%if item.estado == "pendiente de aprobacion"%}
                            {%for c in choices%}
                                {%if c == "pendiente de aprobacion"%}
                                    <option value="{{c}}" selected>{{c}}</option>
                                {%endif%}
                                {%if c == "aprobado"%}
                                    {%if aprobadoPermiso%}
                                        <option value="{{c}}">{{c}}</option>
                                    {%endif%}
                                {%endif%}
                                {%if c == "en desarrollo"%}
                                    {%if pendientePermiso%}
                                        <option value="{{c}}">{{c}}</option>
                                    {%endif%}
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                        {%if item.estado == "aprobado"%}
                            {%for c in choices%}
                                {%if c != "pendiente de aprobacion"%}
                                    {%if c == "aprobado"%}
                                        <option value="{{c}}" selected>{{c}}</option>
                                    {%else%}
                                        {%if aprobadoPermiso%}
                                            <option value="{{c}}">{{c}}</option>
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    </select>
                    <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                    <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                    <input  type="hidden" value={{item.id}} id="itemid" name="itemid">

                <button type="submit" class="btn-small blue darken-3 right" >
                    Cambiar Estado
                    <i class="material-icons left">edit</i><br>
                </button>
                </div></p>
            </form>
                {%else%}
                    Estado: {{item.estado}}
                {%endif%}
            {%else%}
                Estado: {{item.estado}}
            {%endif%}
            <p><div>
                <h5 style="text-align: left" class="grey-text">Observación:</h5>
                {{item.observacion}}
            </div></p>
            <p><div>
                <h5 style="text-align: left" class="grey-text">Costo en horas:</h5> {{item.costo}} horas.
            </div></p>
            <p><div>

                {%for c, c2 in campos%}
                    <p><div>
                        <h5 style="text-align: left" class="grey-text">{{c}}: </h5>
                        {{c2}}
                    </div></p>
                {%endfor%}
            </p><div>
            {%if proyecto.estado != "cancelado"%}
                <form action="/item/modify/">
                    <button type="submit" class="btn blue darken-3 right">
                        Modificar ítem
                       <i class="material-icons white-text left">edit</i>
                    </button>
                    <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                    <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                    <input  type="hidden" value={{item.id}} id="itemid" name="itemid">

                </form>
                <form action="/item/history/">
                    <button type="submit" class="btn pink">
                        Historial del ítem
                       <i class="material-icons white-text left">edit</i>
                    </button>
                    <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                    <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                    <input  type="hidden" value={{item.id}} id="itemid" name="itemid">

                </form>
                <form action="/item/unable/">
                    <button type="submit" class="btn red darken-5 left">
                        Deshabilitar Item
                       <i class="material-icons white-text left">delete</i>
                    </button>
                    <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                        <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                        <input  type="hidden" value={{item.id}} id="itemid" name="itemid">

                 </form>
                <form action="/item/relaciones/ver/itemid={{ item.id }}/faseid={{ faseid }}/proyectoid={{ proyectoid }}/">
                    <button type="submit" class="btn blue darken-5 left">
                        Relaciones del item
                       <i class="material-icons white-text left">timeline</i>
                    </button>
                    <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                    <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                    <input  type="hidden" value={{item.id}} id="itemid" name="itemid">
                 </form>

                <form action="/item/addRelacion/">
                    <button type="submit" class="btn red darken-5 left">
                        Relacionar Item
                       <i class="material-icons white-text left">delete</i>
                    </button>
                        <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                        <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                        <input  type="hidden" value={{item.id}} id="itemid" name="itemid">
                </form>

            {%endif%}
        </section>
	</div>

{% endblock%}
