{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'faseViewInicializado' faseid proyectoid %}">
            <button type="submit" class="waves-effect waves-teal btn-flat">
                    Volver a la vista de Fase
                    <i class="material-icons dark blue-text left">keyboard_return</i>
            </button>
    </form>
	<div class="container">
        {% if select is None %}
            <h3 style="text-align: center">Crear Ítems</h3>
            <h5 style="text-align: center" class="grey-text">Seleccione un tipo de ítem</h5>
            <form action="." method="POST">{% csrf_token %}
                <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                <select id="tipo" name="tipo" class="browser-default">
                {% for tipo in tipos %}
                     <option value="{{tipo.id}}">{{tipo.nombreTipo}}</option>
                {% endfor %}

                </select>
                <br><button id="but"  type="submit"  class="btn-small blue darken-3 right" name="seleccion" value="Seleccionar Usuario">
                      Seleccionar
                </button>
            </form>
        {% else %}
            <Form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="nombre">Nombre del Item:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div>
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required>
                </div>
                <div>
                    <label for="observacion">Observacion:</label>
                    <input type="text" id="observacion" name="observacion" required>
                </div>
                <div>
                    <label for="costo">Costo:</label>
                    <input type="number" id="costo" name="costo" required>
                </div>
                <div>
                    {%for c in select.campo_extra%}
                        <div>
                            <label for="campoextra">{{c}}:</label>
                            <input type="text" id="campoextra" name="{{c}}" required>
                        </div>
                    {%endfor%}
                </div>
                <div>
                    <h8>Archivos</h8><br>
                </div>
                <div id="file"></div>
                <button type="button" class="btn-small blue darken-3 left" name="add_file" id="add_file" value="Agregar archivo">
                    Añadir archivo al ítem
                    <i class="material-icons white-text left">attach_file</i>
                </button>
                <br><br>
                <button id="boton" type='submit' name="crear" class="btn-small blue darken-3 right" value="Save Data">
                    Crear ítem
                    <i class="material-icons white-text left">add_circle_outline</i>
                </button>
                <input  type="hidden" value={{proyectoid}} id="proyectoid" name="proyectoid">
                <input  type="hidden" value={{faseid}} id="faseid" name="faseid">
                <input  type="hidden" id="tipodeitem_id" name="tipodeitem_id" value="{{ select.id }}">
            </form>
        {% endif %}
	</div>
    
    <script>


    document.getElementById("add_file").onclick=function (ev) {

        var file=document.getElementById("file");
        var newInput=document.createElement("input");
        newInput.type="file";
        newInput.name="file[]";


        var br=document.createElement("br");
        var br1=document.createElement("br");

        newInput.onchange=function (ev1) {
            if(this.files && this.files[0]){
                var fileReader=new FileReader();

              //  fileReader.onload=function (ev2) {
                   // preview.src=ev2.target.result;
               // };

                fileReader.readAsDataURL(this.files[0])
            }
        };


        file.appendChild(newInput);
        file.appendChild(br);
        file.appendChild(br1);

    }
</script>
    
    
{% endblock%}
