{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .hide {
          display: none;
        }
    </style>
    <form action="/item/relaciones/ver/itemid={{ item.id }}/faseid={{ fase.id }}/proyectoid={{ proyecto.id }}/mensaje=''/">
        <button type="submit" class="waves-effect waves-teal btn-flat">
            Volver a la vista de relaciones del item
            <i class="material-icons dark blue-text left">keyboard_return</i>
        </button>
    </form>
    <div class="container">
        <h4 style="text-align: center">Establecer relaciones para el item {{ item.nombre }}</h4>
        <h6 style="text-align: left">Seleccione los items a relacionar</h6>
        <form action="/item/addRelacion/" method="post">
            {% csrf_token %}
            <div class="form-check">

                <h5>Items de la fase actual: {{ fase.nombre }}</h5>
                {% if itemsFaseActual %}
                    {% for i in itemsFaseActual %}
                        <label>
                            <input  type="radio" class="filled-in"  value={{i.id}} id="username" name="itemIdRelacion" />
                             <span style="color:black">{{i.nombre}}</span>
                        </label>
                    {% endfor %}
                {% else %}
                    No existen items para relacionar en esta fase.
                {% endif %}

                {% if faseSiguiente %}
                    <h5>Items de la fase siguiente: {{ faseSiguiente.nombre }}</h5>
                     {% if itemsFaseSiguiente %}
                        {% for i in itemsFaseSiguiente %}
                            <label>
                                <input  type="radio" class="filled-in"  value={{i.id}} id="username" name="itemIdRelacion" />
                                <span style="color:black">{{i.nombre}}</span>
                            </label>
                        {% endfor %}
                     {% else %}
                        No existen items para relacionar en esta fase.
                     {% endif %}
                {% endif %}
            </div>
            <input  type="hidden" value={{proyecto.id}} id="proyectoid" name="proyectoid">
            <input  type="hidden" value={{fase.id}} id="faseid" name="faseid">
            <input  type="hidden" value={{item.id}} id="itemid" name="itemIdActual">
            {% if faseSiguiente %}
                <input  type="hidden" value={{faseSiguiente.id}} id="faseSiguiente" name="siguiente">
            {% else %}
                <input  type="hidden" value={{"no"}} id="faseSiguiente" name="siguiente">
            {% endif %}

            <p id="text" style="display:none">
            </p>
            <button type="submit" class="btn-small blue darken-2 right">
                Añadir relacion
                <i class="material-icons white-text left">add_circle</i>
            </button>
        </form>
    </div>
    <script>

    function myFunction() {

      var checkBox = document.getElementById("username");
      var text = document.getElementById("text");
      if (checkBox.checked === true){
        text.style.display = "block";
      } else {
         text.style.display = "none";
      }
    }
    </script>
{% endblock%}